.scroll-down-indicator { display: none; }

#entries {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#entries h2 {
  padding: 1em var(--main-padding);
  color: white;
  padding-bottom: calc(var(--main-padding) / 2);
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: calc(2.5 * var(--main-font-size));
}


/* Login/Logout Forms ------------------------------------------------------ */
#login {
  position: relative;
  background: var(--grey-light);
  padding: var(--main-padding);
  margin: calc(2 * var(--main-padding)) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#login form {
  padding-top: calc(var(--main-padding) / 2);
  padding-bottom: var(--main-padding);
}
#login > p {
  padding: calc(var(--main-padding) / 2) 0;
  border-top: 1px solid var(--grey);
  text-align: center;
}
@media (min-aspect-ratio: 1/1) and (min-width: 700px) {
  #login { flex-direction: row; }
  #login > * { width: 100%; }
  #login form,
  #login p {
    padding: 0;
    border: 0;
  }
  #login form {
    border-right: 1px solid var(--grey);
    padding-right: var(--main-padding);
  }
  #login > p {
    align-self: center;
    padding-left: var(--main-padding);
    text-align: left; }
}
#login::before {
  content: '';
  position: absolute;
  left: 0; top: 1px;
  width: 100%; height: var(--main-padding);
  transform: translateY(-100%);
  background: var(--grey-light);
  clip-path: polygon(0 0, 100% var(--main-padding), 0 100%);
}
#login::after {
  content: '';
  position: absolute;
  left: 0; bottom: 1px;
  width: 100%; height: var(--main-padding);
  transform: translateY(100%);
  background: var(--grey-light);
  clip-path: polygon(0 0, 100% 0, 0 var(--main-padding));
}
#login form p { margin-bottom: calc(var(--main-padding) / 4); }
#login form p:last-of-type { margin-bottom: 0; }

#login input[type="text"],
#login input[type="password"] {
  padding: 0.5em;
  border-radius: max(1vmin, 3px);
  border: 3px solid var(--green-shadow);
  color: var(--blue-shadow);
  display: block;
  width: 100%;
  outline: 0;
}
#login input:focus { box-shadow: 0 0 0 3px var(--blue-shadow); }
input[type="submit"],
input[type="reset"] {
  padding: 0.5em 1em;
  border-radius: 3em;
  background: var(--blue-shadow);
  color: white;
  border: 0;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  box-shadow: 0 0 2px 2px var(--grey-shadow) inset;
}

#logout {
  margin-left: var(--main-padding);
  margin-right: var(--main-padding);
  margin-top: calc(var(--main-padding) / 2);
}


/* Dashboard Table --------------------------------------------------------- */
table {
  margin-left: var(--main-padding);
  margin-right: var(--main-padding);
  border: max(1vmin, 5px) solid var(--green-shadow);
  background: var(--green-shadow);
  background: var(--grey-light);
  border-collapse: collapse;
  line-height: 100%;
  border-radius: max(1.5vmin, 5px);
  font-size: 80%;
}

/* inputs */
table input {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  background: 0;
  outline-color: var(--indigo-shadow);
  border: 0;
}
table input[type="submit"],
table input[type="reset"] {
  border-radius: 0;
}
/* remove calendar icon from date input */
table input[type="date"]::-webkit-calendar-picker-indicator { display: none; }

/* Rows */
tr { overflow: hidden; }
tbody tr:hover { background: var(--grey); }


th, td {
  max-width: calc((100vw - var(--main-padding) - var(--main-padding)) / 14);
  overflow: hidden;
}

th {
  background: var(--green-shadow);
  color: white;
  padding: 0.5em;
}
/* last column */
thead th:last-of-type {
  background: var(--blue-shadow);
  color: white;
}

/* Cells */
td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-right: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
}
td:hover {
  background: var(--yellow);
  box-shadow: 0 0 2px 1px var(--grey-shadow) inset;
}
/* last column */
td:last-child {
  background: var(--blue-shadow);
  color: white;
  border-color: var(--blue);
}
td:last-child:hover {
  background: var(--blue);
}



@media (max-aspect-ratio: 16/9) {

  /* force remove default table behavior */
  table, thead, tbody, th, td, tr {
    display: block;
    text-align: left;
  }

  table {
    border: 0;
    background: 0;
  }
  table input {
    padding: 0.5em 1em;
    font-size: 100%;
  }
  table input[type="submit"] {
    padding: 1em;
  }

  /* restyle table rows (now blocks) */
  tr {
    border-radius: max(1.5vmin, 5px);
    margin-bottom: var(--main-padding);
    border: max(1vmin, 5px) solid var(--green-shadow);
    background: var(--green-shadow);
  }
  tbody tr:hover { background: var(--green-shadow); }

  td {
    max-width: none;
    width: auto;
    white-space: normal;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: var(--grey-light);
    border: 0;
    border-top: 1px solid var(--grey);
  }
  td:first-child {
    border: 0;
  }
  td::before {
    width: 10em;
    max-width: 10em;
    overflow: hidden;
    padding: 1em;
    font-weight: bold;
    text-align: left;
    line-height: 150%;
    display: flex;
    align-items: center;
    background: var(--green-shadow);
    color: white;
  }
  td input {
    padding: 1em;
    align-self: center;
  }
  td:first-child input {
    font-weight: bold;
  }

  /* replace table header elements with title text */
  thead { display: none; }

  td:nth-of-type(1)::before { content: "Title: "; }
  td:nth-of-type(2)::before { content: "Directory: "; }
  td:nth-of-type(3)::before { content: "New Image: "; }
  td:nth-of-type(4)::before { content: "Blurb: "; }
  td:nth-of-type(5)::before { content: "Description: "; }
  td:nth-of-type(6)::before { content: "Date: "; }
  td:nth-of-type(7)::before { content: "Primary Link: "; }
  td:nth-of-type(8)::before { content: "Primary Link Text: "; }
  td:nth-of-type(9)::before { content: "Secondary Link: "; }
  td:nth-of-type(10)::before { content: "Secondary Link Text: "; }
  td:nth-of-type(11)::before { content: "Tertiary Link: "; }
  td:nth-of-type(12)::before { content: "Tertiary Link Text: "; }
  td:nth-of-type(13)::before { content: "Featured: "; }
}


/* Hidden Forms ------------------------------------------------------------ */
form.hidden { padding: 0; }
