.scroll-down-indicator { display: none; }

#contact {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: calc(2 * var(--main-padding));
}
#contact h2 {
  padding: 1em var(--main-padding);
  color: white;
  padding-bottom: calc(var(--main-padding) / 2);
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: calc(2.5 * var(--main-font-size));
}


#contact .flex {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  margin-top: calc(2 * var(--main-padding));
  background: var(--grey-light);
}
#contact .flex::before {
  content: '';
  position: absolute;
  left: 0; top: 1px;
  width: 100%; height: var(--main-padding);
  transform: translateY(-100%);
  background: var(--grey-light);
  clip-path: polygon(0 0, 100% var(--main-padding), 0 100%);
}
#contact .flex::after {
  content: '';
  position: absolute;
  left: 0; bottom: 1px;
  width: 100%; height: var(--main-padding);
  transform: translateY(100%);
  background: var(--grey-light);
  clip-path: polygon(0 0, 100% 0, 0 var(--main-padding));
}

.flex > div {
  width: 100%;
  padding: var(--main-padding);
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#contact-form input,
#contact-form textarea { margin-top: 1rem; }

input[type="text"],
textarea {
  width: 100%;
  padding: 1em;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: white;
}
input::placeholder,
textarea::placeholder {
  color: var(--grey);
}
input[type="text"]:focus,
textarea:focus {
  background: var(--grey);
}
input[type="text"]:focus::placeholder,
textarea:focus::placeholder {
  color: white;
}
textarea {
  resize: vertical;
  min-height: 10rem;
}

input[type="button"] {
  padding: 1em;
  border: 0;
  border-radius: var(--main-padding);
  color: white;
  align-self: flex-end;
  /* animated background */
  background-image: linear-gradient(
    30deg, var(--indigo), var(--blue), var(--indigo)
    );
  background-size: 300% 300%;
  animation: 6s bg-shift ease-in-out infinite;
  transition: 0.15s box-shadow ease-in-out;
}
input[type="button"]:hover {
  text-decoration: underline;
  box-shadow: 0 0 5px var(--grey-shadow);
}


@media (min-aspect-ratio: 3/2) {
  #contact .flex {
    flex-direction: row;
    align-items: center;
  }
  #contact-form .paired {
    display: flex;
  }
  .paired > *:first-child { margin-right: 0.5rem; }
  .paired > *:last-child { margin-left: 0.5rem; }

  .flex .right {
    padding: 0;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
  }
}


#map {
  width: 100%;
  height: 50vh;
  background: var(--grey);
}
