/* bugfix for diagonal borders */
section:not(#intro) {
  z-index: 1;
  transform: translateY(calc(-5vh - var(--main-padding)));
}

/* ----------------------------------------------------------- Intro Section */
#intro {
  position: relative;
  height: calc(105vh + var(--main-padding));        /* diagonal border bugfix */
  padding-bottom: calc(5vh + (2 * var(--main-padding)));  /* diagonal border bugfix */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


#main-logo-wrap {
  position: fixed;
  right: 0;
  top: 50vh;
  transform: translate(67%, -50%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: max(1.75vmax, 20px) solid var(--green-shadow);
  background: var(--green-shadow);
  animation-name: shift-out;
  animation-duration: 1s;
  animation-play-state: paused;
}
@keyframes shift-out {
  0% {   transform: translate(67%, -50%)   rotateZ(0); }
  100% { transform: translate(125%, -100%) rotateZ(90deg); }
}
#main-logo {
  width: 100vmax;
  height: 100vmax;
  /* animation: 3s teeter ease-in-out alternate infinite; */
}
/* @media (prefers-reduced-motion) {
  #main-logo { animation-delay: -1.5s; }
} */
#main-logo.blurred { filter: blur(5px); }
/* @keyframes teeter {
  0% { transform: rotate(-2.5deg); }
  100% { transform: rotate(2.5deg); }
} */
.main-logo-overlay {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100vmax;
  height: 100vmax;
  border-radius: 50%;
  background: var(--blue);
  box-shadow: 0 0 3vmax 1vmax var(--green-shadow) inset;
  opacity: 0.55;
}


#intro div { z-index: 1; /* ensure text appears above img */ }
#intro .blurb p {
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
  max-width: 70vw;
  min-height: 2em;
}
#intro .blurb i { font-weight: bold; }
#intro .blurb span {
  position: absolute;
  left: 0; top: 0;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}
#intro .blurb span.active { opacity: 1; }

#intro .details {
  line-height: min(10vh, 72px);
  align-self: flex-end;
  text-align: center;
  margin-bottom: 30px;  /* bugfix: mobile browser height shift */
}
@media (min-width: 450px) and (min-height: 850px) {
  /* remove mobile browser height shift bugfix */
  #intro .details { margin-bottom: 0; }
}

#intro .details h1 {
  font-size: min(10vh, 72px);
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px var(--green-shadow);
}
#intro .details h2 { font-size: min(5vh, 32px); }

#intro .details .links {
  line-height: 35px;
  display: inline-flex;
  align-items: center;
}
#intro .details a {
  margin: 0 15px;
  text-decoration: none;
}
#intro .details img {
  width: 35px;
  transition: 0.25s transform ease-in-out;
}
#intro .details img:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 0 5px var(--indigo));
}

@media (min-width: 500px) and (min-height: 500px) {
  #intro .details { text-align: right; }
  #intro .details a { margin: 0 0 0 30px; }
}


/* Featured Section -------------------------------------------------------- */
#featured {
  position: relative;
  padding-right: 0;
  overflow: hidden;
  background: var(--white);
  color: var(--black);

  padding-top: calc(5vh + var(--main-padding));
  padding-bottom: calc(5vh + var(--main-padding));
  clip-path: polygon(0 0, 100% var(--main-padding), 100% 100%, 0 100%);
}

#featured h2 { margin-bottom: 0.25em; }

#featured .flex {
  display: flex;
  align-items: center;
  margin-bottom: var(--main-padding);
}

#featured .heading-card {
  background: var(--green);
  color: white;
  border-radius: 5px;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 3em;
  box-shadow: 0 0 0.5vmin var(--green-shadow);
  z-index: 1;
}
#featured .heading-card h2 {
  transform: rotate(-90deg);
  white-space: nowrap;
}

.card-container {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  padding: 1em 0 1.5em 1em;
  margin-bottom: 1em;
  scroll-snap-type: x mandatory;
  z-index: 1;
}
.card-container::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.card-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--green);
}
.card-container::-webkit-scrollbar-thumb:hover {
  background: var(--blue-shadow);
}
.card-container::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: 15px;
  margin: 0 var(--main-padding);
}

#featured .card {
  position: relative;
  min-width: min(90%, 400px);
  border-color: var(--grey);
  background: var(--grey-light);
  border-style: solid;
  border-width: max(1vmin, 5px);
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  margin-right: 1em;
  border-radius: 1vmin;
  transition: 0.25s transform;
}
#featured .card:last-child {
  margin-right: var(--main-padding);
}

/* tweak featured badge position */
#featured .featured-badge {
  top: auto;
  bottom: 0;
  transform: translate(15%, 15%) rotate(-5deg) scale(0.75);
}
#featured .card:nth-child(2n) .featured-badge {
  transform: translate(15%, 15%) rotate(5deg) scale(0.75);
}

#featured a.card {
  cursor: pointer;
  padding: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 150%;
  color: white;
  /* override .card class */
  min-width: inherit;
  border: 0;
  border-radius: 15px;
  /* animated background */
  background-image: linear-gradient(
    30deg, var(--indigo), var(--blue), var(--indigo)
    );
  background-size: 300% 300%;
  animation: 6s bg-shift ease-in-out infinite;
  transform: scale(0.95);
}
#featured a.card:hover {
  transform: none;
  text-decoration: none;
}

#featured .card img {
  width: 100%;
}
#featured .card em {
  background: var(--grey);
  color: var(--black);
  text-align: center;
  line-height: 125%;
  padding: 0.25em 1em;
  /* bugfix - white bars on sides when card scaled down */
  width: calc(100% + 2px);
  transform: translateX(-1px);
}

#featured .card .info {
  padding: 1em;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#featured p {
  position: relative;
  z-index: 1;
  margin-right: var(--main-padding);
  text-align: center;
}
@media (min-aspect-ratio: 1/1) {
  #featured p { text-align: right; }
}
#featured p a {
  font-weight: bold;
  white-space: nowrap;
}

@media (min-width: 1000px) {
  #featured .card {
      margin-right: 0.25em;
    /* hover animation */
    transform: scale(0.95);
  }
  #featured .card:hover { transform: none; }
  #featured a.card {
    transform: scale(0.9);
  }
  #featured a.card:hover {
    transform: scale(0.95);
  }
}


/* ---------------------------------------------------------- Skills Section */
#skills {
  position: relative;
  background: var(--grey-light);
}
#skills::before {
  content: '';
  position: absolute;
  left: 0; top: 1px;
  width: 100%;
  height: var(--main-padding);
  background: var(--grey-light);
  transform: translateY(-100%);
  clip-path: polygon(0 var(--main-padding), 100% 0, 100% 100%, 0 100%);
}
#skills::after {
  content: '';
  position: absolute;
  left: 0; bottom: 1px;
  width: 100%;
  height: calc(var(--main-padding) + 2px);
  background: var(--grey-light);
  transform: translateY(100%);
}

#skills h2 { margin-bottom: 15px; }

#skills .flex {
  display: flex;
  flex-direction: column;
}
#skills .flex article { width: 100%; }
#skills .flex article:first-child {
  border-width: max(1vmin, 5px) 0;
  border-color: var(--green);
  border-style: solid;
  padding: 1em 0;
}
#skills .flex article:last-child h3 { margin-top: var(--main-padding); }

#skills article > .bubble-text { font-size: 100%; }

.skill-box {
  border-top: 5px dotted var(--grey);
  display: flex;
  align-items: center;
  padding: 0.75em 0;
}
.skill-box:first-of-type { border: 0; }

.skill-box .details {
  width: 35%;
  text-align: left;
  line-height: 100%;
}
.skill-box .details b {
  font-size: 95%;
}
.skill-box .details span {
  display: block;
  border-radius: 30px;
  padding: 0.125em 0.5em;
  font-size: 0.75em;
}

.skill-box .slide-container {
  width: 65%;
  text-align: left;
  line-height: 125%;
}
.skill-box .slider {
  position: relative;
  background: var(--indigo-shadow);
  width: 100%;
  height: 1em;
  border-radius: 30px;
}
.skill-box .slider .fill {
  /* defaults for custom properties - overriden in HTML */
  --fill-percent: 0%;
  /* position in slider */
  display: block;
  position: absolute;
  top: 50%;
  left: max(-1vmin, -5px);
  transform: translateY(-50%);
  /* style */
  height: 1em;
  width: var(--fill-percent);
  border-radius: 15px;
  background-image: linear-gradient(
    to right, var(--indigo), var(--blue)
  );
}

@media (min-aspect-ratio: 4/3) {
  #skills .flex { flex-direction: row-reverse; }
  #skills .flex article:first-child {
    text-align: center;
    border: max(1vmin, 5px) solid var(--green);
    border-radius: 1.5vmin;
    padding: 1em;
  }
  #skills .flex article:last-child { text-align: left; }
  #skills .flex article:nth-of-type(2) { padding-right: var(--main-padding); }

  #skills .skill-box {
    margin-top: 0.75em;
    padding-bottom: 0;
  }
}


/* ------------------------------------------------------------ Demo Section */
#demo {
  position: relative;
  overflow: hidden;

  padding-top: calc(5vh + var(--main-padding));
  padding-bottom: calc(10vh + var(--main-padding));
  clip-path: polygon(0 0, 100% var(--main-padding), 100% calc(100% - var(--main-padding)), 0 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  color: var(--black);
}

html.dark-mode #demo .square { opacity: 0.2; }

#demo .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
#demo .blurb {
  margin-bottom: var(--main-padding);
  width: 100%;
}

#demo-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#demo-controls > * {
  margin: 5px;
  z-index: 1;
}
/* dark mode overrides btn text default colors */
html.dark-mode #demo-controls .btn-text { color: white; }
html.dark-mode #demo-controls .btn-text .icon { border-color: white; }
html.dark-mode #demo-controls .btn-text .icon::before { background: white; }
html.dark-mode #demo-controls .btn-text .icon::after { background: white; }
/* keep btn text hover colors */
html.dark-mode #demo-controls .btn-text:hover { color: var(--blue); }
html.dark-mode #demo-controls .btn-text:hover .icon { border-color: var(--blue); }
html.dark-mode #demo-controls .btn-text:hover .icon::before { background: var(--blue); }
html.dark-mode #demo-controls .btn-text:hover .icon::after { background: var(--blue); }

@media (min-aspect-ratio: 4/3) {
  #demo {
    align-items: stretch;
    padding-bottom: calc(5vh + var(--main-padding));
  }
  #demo .wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #demo .blurb {
    text-align: right;
    margin-left: 25px;
    margin-bottom: 0;
    max-width: 40vw;
  }
  #demo-controls {
    margin-top: 0;
    align-self: flex-end;
    z-index: 1;

  }
  #demo figure { align-self: center; }
}


/* --------------------------------------------------- Demo Figure Animation */
/* figure presets */
#demo figure {
  position: relative;
  align-self: center;
  border: max(1vmin, 5px) solid transparent;
  padding: 3vmin 6vmin 9vmin 6vmin;
  /* height = 40vmin .monitor + 3vmin padding-top + 9vmin padding-bottom  */
  height: 52vmin;
  border-radius: 1.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#demo figure,
#demo figure *,
#demo figure *::before,
#demo figure *::after {
  transition: 0.5s ease-in-out all;
}

#demo figure > .text {
  position: absolute;
  right: -0.5vmin; bottom: -0.5vmin;
  padding: 0.5vmin 4.5vmin;
  border-radius: 1.5vmin 0 0 0;
  background: var(--green);
  color: white;
  opacity: 0;
}
#demo figure .text {
  font-weight: bold;
  font-size: min(4vmin, 100%);
}

#demo figure .pipeline,
#demo figure .database {
  width: 0;
  overflow: hidden;
  z-index: 2;
}

/* with host functionality */
#demo figure.with-host {
  border-color: var(--green);
}
#demo figure.with-host > .text { opacity: 1; }

/* website presets */
#demo figure .website {
  text-align: center;
}
#demo figure .monitor {
  position: relative;
  background: #ffffffaa;
  color: black;

  box-shadow: 0 0 1vmin var(--grey);
  border-radius: 1vmin;
  width: 60vmin;
  height: 40vmin;
  padding: 1.5vmin;
  z-index: 2;
  overflow: hidden;
}
#demo figure .monitor::before,
#demo figure .monitor::after {
  content: '';
  position: absolute;
  width: 6vmin;
  height: 1.25vmin;
  right: 3vmin;
  background: white;
  border-radius: 1.5vmin;
  opacity: 0;
}
#demo figure .monitor::before { top: 3vmin; }
#demo figure .monitor::after { top: 6vmin; }

#demo figure .monitor .title {
  position: absolute;
  left: 50%; top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 7vmin;
}
#demo figure .website .text {
  display: none;
}
#demo figure .website .text:nth-of-type(1) { display: inline; }

/* with css functionality */
#demo figure.with-css .monitor {
  box-shadow: 0 0 1vmin var(--blue);
  background: var(--blue);
  color: white;
}
#demo figure.with-css .monitor .title { font-family: 'Pacifico', cursive; }
#demo figure.with-css .website .text { color: var(--blue); }
#demo figure.with-css .website .text:nth-of-type(2) { display: inline; }

/* with-js functionality */
#demo figure.with-js .monitor::before,
#demo figure.with-js .monitor::after {
  opacity: 1;
}

#demo figure.with-js .website .text:nth-of-type(3) { display: inline; }

/* php presets */
#demo figure .pipeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
#demo figure .pipeline .pipe {
  width: 20vmin;
  height: 2vmin;
  margin: 0.75vmin 0;
  background-size: 300% 300%;
  background-image: linear-gradient(
    to right, var(--red), var(--yellow), var(--red)
  );
  box-shadow: 0 0 0.5vmin var(--red);
  animation: 2s bg-shift linear infinite;
}
#demo .pipeline .pipe:nth-child(1) {
  animation-duration: 3s;
}
#demo figure .pipeline .text {
  color: var(--red);
}

/* with php functionality */
#demo figure.with-php .pipeline {
  width: 15vmin;
}

#demo figure.with-php .monitor {
  width: 45vmin;
  height: 30vmin;
}
#demo figure.with-php .monitor::before,
#demo figure.with-php .monitor::after {
  width: 4.5vmin;
  height: 0.75vmin;
  border-radius: 1vmin;
}
#demo figure.with-php .monitor::after { top: 5vmin; }
#demo figure.with-php .monitor .title { font-size: 5vmin; }

/* sql presets */
#demo .database {
  text-align: center;
}
#demo .database div {
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
  border-radius: 1vmin;
}
#demo .database div .light {
  width: 100%;
  height: 1vmin;
  margin: 1vmin;
  border-radius: 1vmin;
  animation: 3s flash linear infinite;
}
#demo .database div .light:nth-child(2) { animation-delay: -0.125s; }
#demo .database div .light:nth-child(3) { animation-delay: -0.25s; }
@media (prefers-reduced-motion) {
  #demo .database div .light { animation-direction: reverse; }
}
@keyframes flash {
  0% { background: var(--white); }
  50%, 100% { background: var(--indigo); }
}
#demo .database div .title {
  color: var(--white);
  font-size: min(85%, 3vmin);
}
#demo .database .text { color: var(--indigo); }

/* with sql functionality */
#demo figure.with-sql .database {
  width: 17.5vmin;
}

#demo figure.with-sql .pipeline {
  overflow: visible;
  width: 12.5vmin;
}

#demo figure.with-sql .monitor {
  width: 30vmin;
  height: 20vmin;
}
#demo figure.with-sql .monitor::before,
#demo figure.with-sql .monitor::after {
  width: 3.25vmin;
  height: 0.5vmin;
  right: 1.5vmin;
  border-radius: 0.5vmin;
}
#demo figure.with-sql .monitor::before {
  top: 2vmin;
  animation: 4s move-x-top-sm ease-in-out alternate infinite;
}
#demo figure.with-sql .monitor::after {
  top: 3.5vmin;
  animation: 4s move-x-btm-sm ease-in-out alternate infinite;
}
@keyframes move-x-top-sm {
  0%, 35% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(0.75vmin) rotate(0); }
  65%, 100% { transform: translateY(0.75vmin) rotate(45deg); }
}
@keyframes move-x-btm-sm {
  0%, 35% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-0.75vmin) rotate(0); }
  65%, 100% { transform: translateY(-0.75vmin) rotate(-45deg); }
}
#demo figure.with-sql .monitor .title { font-size: 4vmin; }

#demo figure.with-sql .pipeline .pipe {
  height: 1.25vmin;
  margin: 0.75vmin 0;
}


/* ------------------------------------------------ Medium Screen Breakpoint */
@media (min-width: 750px) and (min-height: 850px) {
  /* decrease intro's padding bottom when not on mobile */
  #intro { padding-bottom: calc(5vh + var(--main-padding)); }
  #intro .blurb p {
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
  }
  #intro .blurb span { font-size: 36px; }

  #intro .details { line-height: 110px; }
  #intro .details h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }
  #intro .details h2 { font-size: 58px; }
  #intro .details a { margin: 0 0 0 40px; }
  #intro .details img {
    width: 40px;
    transition: 0.25s transform ease-in-out;
  }

  #skills p {
    width: 100%;
    margin-bottom: 50px;
  }
}


/* ------------------------------------------------- Large Screen Breakpoint */
@media (min-width: 750px) and (min-height: 850px) {
  #intro .blurb p {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 48px;
  }
  #intro .blurb span { font-size: 48px; }
  #intro .details h1 {
    font-size: 110px;
  }

  #skills h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
