/* natural box layout model, allowing overrides */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* override defaults */
* {
  margin: 0;
  padding: 0;
}


* {
  --electric-indigo: #6201ff;
  --forest-green-traditional: #1e3f20;
  --forest-green-traditional-shadow: #0c1a0d;
  --red-pigment: #ff0022;
  --blue-jeans: #48acf0;
  --roman-silver: #919098;
  --light-grey: #bababa;
  --jonquil: #f0c808;
}

.leaf {
  position: absolute;
  background: var(--forest-green-traditional-shadow);
  border-radius: 75% 10% 75% 0;
  opacity: 0.25;
}
/* add leaf stem */
.leaf::after {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  height: 150%;
  width: 5%;
  /* background: #040804; */
  background: #112412;
  transform-origin: bottom left;
  transform: translateX(-75%) rotate(45deg) translateY(-15%);
  border-radius: 30% 30% 50% 50%;
}

.bug {
  position: absolute;
  border-radius: 50%;
  background: var(--jonquil);
  animation: 5s twinkle ease-in-out infinite;
}
@keyframes twinkle {
  0%, 100% { opacity: 0.15; }
  50% { opacity: 1; }
}

.square {
  position: absolute;
  border-radius: 2vmin;
  background: var(--electric-indigo);
  z-index: -1;
  opacity: 0.1;
}


/* .flower {
  left: 50vw; top: 50vh;
  width: 2vmax;
  height: 4vmax;
  opacity: 0.25;
}
.flower,
.flower::before,
.flower::after,
.flower span,
.flower span::before,
.flower span::after
{
  position: absolute;
  background: var(--red-pigment);
  border-radius: 75%;
}
.flower::before,
.flower::after,
.flower span,
.flower span::before,
.flower span::after
{
  left: 0; top: 0;
  width: 100%;
  height: 100%;
}
.flower::before,
.flower::after,
.flower span::before,
.flower span::after {
  content: '';
}
.flower::before { transform: rotate(36deg); }
.flower span { transform: rotate(72deg); }
.flower span::before { transform: rotate(36deg); }
.flower span::after { transform: rotate(72deg); } */
/* flower disk */
/* .flower::after {
  left: 50%;
  top: 50%;
  width: 1.25vmax;
  height: 1.25vmax;
  background: var(--jonquil);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1vmax var(--forest-green-traditional-shadow);
} */

/* bigger flowers */
/* .flower:nth-of-type(2n) {
  width: 3vmax;
  height: 6vmax;
}
.flower:nth-of-type(2n)::after {
  width: 2vmax;
  height: 2vmax;
} */


body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 175%;
}
body > * {
  padding: 25px;
}

#loader {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--forest-green-traditional);
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1s opacity ease-in;
}
#loader .leaf, #loader .bug { z-index: -1; }

header {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.25s background ease-out,
              0.25s box-shadow ease-out,
              0.25s padding ease-out;
}
header + * { padding-top: 78px;  /* height of header */ }
header.filled {
  padding: 15px 25px;
  background: var(--forest-green-traditional);
  box-shadow: 0 0 15px var(--forest-green-traditional-shadow);
}

header span {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
}

.nav-toggle {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 25px;
  transition: 0.25s transform ease-in-out;
}
.nav-toggle.active { transform: rotate(-90deg); }

.nav-toggle span {
  background-color: white;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.nav-toggle span:nth-child(1) {
  animation: out-top 0.5s ease-in-out;
}
.nav-toggle span:nth-child(2) {
  margin: 5px 0;
  animation: out-mid 0.5s ease-in-out;
}
.nav-toggle span:nth-child(3) {
  animation: out-btm 0.5s ease-in-out;
}

.nav-toggle.active span:nth-child(1) {
  animation: in-top 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(2) {
  animation: in-mid 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(3) {
  animation: in-btm 0.5s ease-in-out forwards;
}

/* to hamburger */
@keyframes out-top {
  0% { transform: translateY(9px) rotate(-135deg); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}
@keyframes out-mid {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(0); }
}
@keyframes out-btm {
  0% { transform: translateY(-9px) rotate(-135deg); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}

/* to x btn */
@keyframes in-top {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(9px) rotate(-135deg); }
}
@keyframes in-mid {
  50% { transform: rotate(0); }
  100% { transform: rotate(-45deg); }
}
@keyframes in-btm {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(-9px) rotate(-135deg); }
}


#intro {
  position: relative;
  height: 105vh;
  padding-bottom: calc(5vh + 25px);
  background: var(--forest-green-traditional);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100vh);
}

#intro > img {
  position: absolute;
  right: 0;
  top: 50vh;
  transform: translate(67%, -50%);
  height: 100vmax;
  width: 100vmax;
  border-radius: 50%;
  border: 1vmax solid var(--forest-green-traditional-shadow);
  background: var(--forest-green-traditional-shadow);
  z-index: 1;
}
#main-logo.blurred { filter: blur(5px); }

#intro div { z-index: 1; /* ensure text appears above img */ }
#intro .blurb { margin-top: 50px; }
#intro .blurb p {
  position: relative;
  margin: 10px 0;
  font-size: 16px;
  max-width: 70vw;
}
#intro .blurb i { font-weight: bold; }
#intro .blurb span {
  position: absolute;
  left: 0; top: 0;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2.5px 2.5px 2.5px var(--forest-green-traditional-shadow);
}
#intro .blurb span.active { opacity: 1; }

#intro .details {
  line-height: min(10vh, 72px);
  align-self: flex-end;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 500px) and (min-height: 500px) {
  #intro .details { text-align: right; }
}
#intro .details h1 {
  font-size: min(10vh, 72px);
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  margin-bottom: 10px;
  text-shadow: 5px 5px 5px var(--forest-green-traditional-shadow);
}
#intro .details h2 { font-size: min(5vh, 32px); }

#intro .details a {
  text-decoration: none;
  margin: 0 10px;
}
#intro .details img {
  width: 35px;
}


#demo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: calc(10vh + 25px);

}
#demo > div { margin-bottom: 25px; }
@media (min-width: 1000px) {
  #demo {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #demo .blurb {
    text-align: right;
    margin-left: 25px;
  }
  #demo figure { align-self: center; }
}

/* figure presets */
#demo figure {
  position: relative;
  align-self: center;
  border: 1vmin solid transparent;
  padding: 3vmin 6vmin 9vmin 6vmin;
  height: 49vmin;  /* 40vmin .monitor + 9vmin padding-bottom  */
  border-radius: 1.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#demo figure,
#demo figure *,
#demo figure *::before,
#demo figure *::after {
  transition: 0.5s ease-in-out all;
}

#demo figure > .text {
  position: absolute;
  right: -0.5vmin; bottom: -0.5vmin;
  padding: 0.5vmin 4.5vmin;
  border-radius: 1.5vmin 0 0 0;
  background: var(--forest-green-traditional);
  color: white;
  opacity: 0;
}
#demo figure .text {
  font-weight: bold;
  font-size: min(4vmin, 100%);
}

#demo figure .pipeline,
#demo figure .database {
  width: 0;
  overflow: hidden;
  z-index: 2;
}

/* with host functionality */
#demo figure.with-host {
  border-color: var(--forest-green-traditional);
}
#demo figure.with-host > .text { opacity: 1; }

/* website presets */
#demo figure .website {
  text-align: center;
}
#demo figure .monitor {
  position: relative;
  background: #ffffffaa;
  box-shadow: 0 0 1vmin var(--roman-silver);
  border-radius: 1vmin;
  width: 60vmin;
  height: 40vmin;
  padding: 1.5vmin;
  z-index: 2;
  overflow: hidden;
}
#demo figure .monitor::before,
#demo figure .monitor::after {
  content: '';
  position: absolute;
  width: 6vmin;
  height: 1.25vmin;
  right: 3vmin;
  background: white;
  border-radius: 1.5vmin;
  opacity: 0;
}
#demo figure .monitor::before { top: 3vmin; }
#demo figure .monitor::after { top: 6vmin; }
#demo figure .monitor .title::before,
#demo figure .monitor .title::after {
  content: '';
  position: absolute;
  width: 18vmin; height: 18vmin;
  filter: blur(12vmin);
  background: var(--electric-indigo);
  opacity: 0;
  z-index: -1;
}
#demo figure .monitor .title::before { left: 3vmin; bottom: 6vmin; }
#demo figure .monitor .title::after { right: 3vmin; top: 6vmin; }

#demo figure .monitor .title {
  position: absolute;
  left: 50%; top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 6vmin;
}
#demo figure .website .text {
  display: none;
}
#demo figure .website .text:nth-of-type(1) { display: inline; }

/* with css functionality */
#demo figure.with-css .monitor {
  box-shadow: 0 0 1vmin var(--blue-jeans);
  background: var(--blue-jeans);
  color: white;
}
#demo figure.with-css .monitor .title { font-family: 'Pacifico', cursive; }
#demo figure.with-css .monitor .title::before,
#demo figure.with-css .monitor .title::after {
  opacity: 1;
}
#demo figure.with-css .website .text { color: var(--blue-jeans); }
#demo figure.with-css .website .text:nth-of-type(2) { display: inline; }

/* with-js functionality */
#demo figure.with-js .monitor::before,
#demo figure.with-js .monitor::after {
  opacity: 1;
}

#demo figure.with-js .website .text:nth-of-type(3) { display: inline; }

/* php presets */
#demo figure .pipeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
#demo figure .pipeline .pipe {
  width: 20vmin;
  height: 2vmin;
  margin: 0.75vmin 0;
  background-size: 300% 300%;
  background-image: linear-gradient(
    to left, var(--red-pigment), var(--jonquil), var(--red-pigment)
  );
  box-shadow: 0 0 0.5vmin var(--red-pigment);
  animation: 2s bg-shift linear infinite;
}
#demo .pipeline .pipe:nth-child(1) {
  animation-duration: 3s;
}
#demo figure .pipeline .text {
  color: var(--red-pigment);
}
@keyframes bg-shift {
  0%, 100% { background-position: left; }
  50% { background-position: right; }
}

/* with php functionality */
#demo figure.with-php .pipeline {
  width: 15vmin;
}

#demo figure.with-php .website .title { font-size: 4vmin; }
#demo figure.with-php .monitor {
  width: 45vmin;
  height: 30vmin;
}
#demo figure.with-php .monitor .title::before,
#demo figure.with-php .monitor .title::after {
  width: 13.5vmin; height: 13.5vmin;
  filter: blur(9vmin);
}
#demo figure.with-php .monitor .title::before { bottom: 3vmin; }
#demo figure.with-php .monitor .title::after { top: 3vmin; }
#demo figure.with-php .monitor::before,
#demo figure.with-php .monitor::after {
  width: 4.5vmin;
  height: 0.75vmin;
  border-radius: 1vmin;
}
#demo figure.with-php .monitor::after { top: 5vmin; }

/* sql presets */
#demo .database {
  text-align: center;
}
#demo .database div {
  background: black;
  box-shadow: 0 0 0.5vmin black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
  border-radius: 1vmin;
}
#demo .database div .light {
  width: 100%;
  height: 1vmin;
  margin: 1vmin;
  border-radius: 1vmin;
  animation: 3s flash linear infinite;
}
#demo .database div .light:nth-child(1) { animation-delay: 0.25s; }
#demo .database div .light:nth-child(2) { animation-delay: 0.125s; }
@keyframes flash {
  0% { background: white; }
  50%, 100% { background: var(--electric-indigo); }
}
#demo .database div .db-name {
  color: white;
  font-size: min(85%, 3vmin);
}
#demo .database .text { color: var(--electric-indigo); }

/* with sql functionality */
#demo figure.with-sql .database {
  width: 20vmin;
}

#demo figure.with-sql .pipeline {
  overflow: visible;
}

#demo figure.with-sql .monitor {
  width: 30vmin;
  height: 20vmin;
}
#demo figure.with-sql .monitor .title::before,
#demo figure.with-sql .monitor .title::after {
  width: 9vmin; height: 9vmin;
  filter: blur(6vmin);
}
#demo figure.with-sql .monitor .title::before { bottom: 1.5vmin; }
#demo figure.with-sql .monitor .title::after { top: 1.5vmin; }
#demo figure.with-sql .monitor::before,
#demo figure.with-sql .monitor::after {
  width: 3.25vmin;
  height: 0.5vmin;
  right: 1.5vmin;
  border-radius: 0.5vmin;
}
#demo figure.with-sql .monitor::before {
  top: 2vmin;
  animation: 4s move-x-top-sm ease-in-out alternate infinite;
}
#demo figure.with-sql .monitor::after {
  top: 3.5vmin;
  animation: 4s move-x-btm-sm ease-in-out alternate infinite;
}
@keyframes move-x-top-sm {
  0%, 35% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(0.75vmin) rotate(0); }
  65%, 100% { transform: translateY(0.75vmin) rotate(45deg); }
}
@keyframes move-x-btm-sm {
  0%, 35% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-0.75vmin) rotate(0); }
  65%, 100% { transform: translateY(-0.75vmin) rotate(-45deg); }
}

#demo figure.with-sql .pipeline .pipe {
  height: 1.25vmin;
  margin: 0.75vmin 0;
}


#filler {
  position: relative;
  background: #f1f1f1;
}
#filler::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 5vh;
  background: #f1f1f1;
  transform: translateY(-99%);
  clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
}
#filler h2 { margin-bottom: 15px; }
#filler p {
  width: 100%;
  margin-bottom: 50px;
}
#filler p:nth-of-type(2) {
  text-align: center;
}
#filler a {
  padding: 20px;
  border-radius: 50px;
  background: var(--blue-jeans);
  color: white;
  font-weight: bold;
  text-decoration: none;
}
#filler a:hover { text-decoration: underline; }


footer {
  background: var(--forest-green-traditional);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}


@media (min-width: 750px) and (min-height: 850px) {
  body { font-size: 20px; }
  body > * { padding: 50px; }
  h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  header + * { padding-top: 128px;  /* height of header */ }
  header.filled { padding: 25px 50px; }
  header span { font-size: 24px; }

  #intro .blurb p {
    margin: 25px 0;
    font-size: 28px;
    line-height: 36px;
    max-width: 70vw;
  }
  #intro .blurb span { font-size: 36px; }

  #intro .details { line-height: 110px; }
  #intro .details h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }
  #intro .details h2 { font-size: 58px; }
  #intro .details a { margin: 0 15px; }

  #filler p {
    width: 100%;
    margin-bottom: 50px;
  }
  #filler p:nth-of-type(2) {
    text-align: left;
  }

  footer {
    padding: 15px 50px;
    text-align: right;
  }
}



@media (min-width: 1600px) and (min-height: 1050px) {
  body > * { padding: 75px; }

  header + * { padding-top: 187.5px;  /* height of header */ }
  header.filled { padding: 37.5px 75px; }
  header span { font-size: 32px; }

  .nav-toggle {
    width: 45px;
    height: 37.5px;
  }
  .nav-toggle span {
    border-radius: 3px;
    height: 6px;
  }
  .nav-toggle span:nth-child(2) { margin: 7.5px 0; }
  /* to hamburger */
  @keyframes out-top {
    0% { transform: translateY(13.5px) rotate(-135deg); }
    50% { transform: translateY(13.5px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
  }
  @keyframes out-btm {
    0% { transform: translateY(-13.5px) rotate(-135deg); }
    50% { transform: translateY(-13.5px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
  }
  /* to x btn */
  @keyframes in-top {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(13.5px) rotate(0); }
    100% { transform: translateY(13.5px) rotate(-135deg); }
  }
  @keyframes in-btm {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(-13.5px) rotate(0); }
    100% { transform: translateY(-13.5px) rotate(-135deg); }
  }

  #intro .blurb p {
    margin: 50px 0;
    font-size: 36px;
    line-height: 48px;
    max-width: 70vw;
  }
  #intro .blurb span { font-size: 48px; }
  #intro .details h1 {
    font-size: 110px;
  }


  #filler { font-size: 24px; }
  #filler h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  footer {
    padding: 25px 75px;
    text-align: right;
    font-size: 16px;
  }
}
