/* ---------------------------------------------------------- Custom Presets */

/* natural box layout model, allowing overrides */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


/* override and set custom defaults */
* {
  margin: 0;
  padding: 0;
  /* Root Variables */
  /* colors */
  --indigo: #6201ff;
  --indigo-shadow: #140037;
  --green: #06632c;
  --green-shadow: #033d1a;
  --red: #ff0022;
  --blue: #48acf0;
  --blue-light: #61b6f0;
  --blue-shadow: #148bdb;
  --grey: #919098;
  --grey-light: #dedede;
  --grey-shadow: #303030;
  --yellow: #f0c808;
  --yellow-shadow: #c4a408;
  /* other */
  --main-padding: 25px;
  --main-font-size: 16px;
}

body {
  font-size: var(--main-font-size);
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 175%;
  background: var(--green);
  overflow-x: hidden;  /* bugfix - horizontal scrollbar from overflowing orbs */
}
body > * { padding: var(--main-padding); }

a { text-decoration: none; }
a:hover { text-decoration: underline; }


/* ------------------------------------------------------- Reused Animations */
@keyframes bg-shift {
  0%, 100% { background-position: left; }
  50% { background-position: right; }
}


/* ---------------------------------------------------------- Custom Classes */
.bubble-text {
  white-space: nowrap;
  border-radius: 30px;
  padding: 0.125em 0.5em;
  font-size: 0.65em;
  font-weight: bold;
  background: var(--grey);
  color: white;
}

/* background decoration elements */
.circle {
  position: absolute;
  border-radius: 50%;
  background: var(--blue);
  opacity: 0.15;
}

.leaf {
  position: fixed;
  background: var(--green-shadow);
  border-radius: 75% 10% 75% 0;
  opacity: 0.25;
  z-index: -1;
}
/* leaf stem */
.leaf::after {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  height: 150%;
  width: 5%;
  background: #022e14;
  transform-origin: bottom left;
  transform: translateX(-75%) rotate(45deg) translateY(-15%);
  border-radius: 30% 30% 50% 50%;
}

.orb {
  position: fixed;
  border-radius: 50%;
  background: var(--yellow);
  z-index: -1;
  transform: translateZ(0);
  /* animation: 3s twinkle ease-in-out infinite; */
}
@keyframes twinkle {
  0%, 100% { opacity: 0.05; }
  50% { opacity: 0.5; }
}

.square {
  position: absolute;
  border-radius: 2vmin;
  background: var(--indigo);
  opacity: 0.05;
}

/* Custom Buttons with Icons */

/* presets */
.btn-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--green-shadow);
  /* prevent random text selection onclick */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-text .icon {
  position: relative;
  border: 3px solid var(--green-shadow);
  border-radius: 3px;
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
}

/* play button */
.btn-text.play { cursor: pointer; }
.btn-text.play .icon::before {
  content: '';
  position: absolute;
  top: 5px; left: 5px; right: 5px; bottom: 5px;
  background: var(--green-shadow);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.btn-text.play:hover { color: var(--blue-shadow); }
.btn-text.play:hover .icon { border-color: var(--blue-shadow); }
.btn-text.play:hover .icon::before { background: var(--blue-shadow); }


/* pause button */
.btn-text.pause { cursor: pointer; }
.btn-text.pause .icon::before {
  content: '';
  position: absolute;
  top: 5px; left: 5px; bottom: 5px;
  width: 3px;
  background: var(--green-shadow);
}
.btn-text.pause .icon::after {
  content: '';
  position: absolute;
  top: 5px; right: 5px; bottom: 5px;
  width: 3px;
  background: var(--green-shadow);
}
.btn-text.pause:hover { color: var(--blue-shadow); }
.btn-text.pause:hover .icon { border-color: var(--blue-shadow); }
.btn-text.pause:hover .icon::before { background: var(--blue-shadow); }
.btn-text.pause:hover .icon::after { background: var(--blue-shadow); }

/* stop button */
.btn-text.stop:not(.disabled) { cursor: pointer; }
.btn-text.stop.disabled { opacity: 0.5; }
.btn-text.stop .icon::before {
  content: '';
  position: absolute;
  top: 5px; left: 5px; right: 5px; bottom: 5px;
  border-radius: 2px;
  background: var(--green-shadow);
}
.btn-text.stop:not(.disabled):hover { color: var(--blue-shadow); }
.btn-text.stop:not(.disabled):hover .icon { border-color: var(--blue-shadow); }
.btn-text.stop:not(.disabled):hover .icon::before { background: var(--blue-shadow); }

/* calendar button */
.btn-text.date {
  font-weight: normal;
  font-size: 85%;
}
.btn-text.date .icon {
  width: 20px;
  height: 20px;
}
.btn-text.date .icon::before {
  content: '';
  position: absolute;
  top: 0; left: -1px; right: -1px;
  height: 5px;
  border-bottom: 3px solid var(--green-shadow);
}


.btn-text.link .icon {
  width: 20px;
  height: 20px;
}
.btn-text.link .icon::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 12px; height: 3px;
  border-radius: 3px;
  background: var(--green-shadow);
}
.btn-text.link .icon::after {
  content: '';
  position: absolute;
  top: 2px; right: 2px;

  width: 0;
  height: 0;
  border-bottom: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  border-top: 7.5px solid var(--green-shadow);
}
.btn-text.link:hover { color: var(--blue-shadow); }
.btn-text.link:hover .icon { border-color: var(--blue-shadow); }
.btn-text.link:hover .icon::before { background: var(--blue-shadow); }
.btn-text.link:hover .icon::after { border-top-color: var(--blue-shadow); }


.scroll-down-indicator {
  cursor: pointer;
  position: fixed;
  left: var(--main-padding);
  bottom: var(--main-padding);
  width: 20px;
  height: 30px;
  border: 3px solid var(--grey-shadow);
  background: white;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  animation: 1s 2s fade-in ease-in-out forwards;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 0.75; }
}
.scroll-down-indicator.hidden {
  cursor: auto;
  opacity: 0;
  animation: none;
}
.scroll-down-indicator::after {
  position: absolute;
  bottom: 2.5px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--grey-shadow);
  animation: 2s 2s scroll-down-indicator ease-in-out infinite;
}
@keyframes scroll-down-indicator {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  25% {
    transform: translateX(-50%);
    opacity: 1;
  }
  50%, 75% {
    transform: translateX(-50%) translateY(-15px);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-15px);
    opacity: 0;
  }
}

/* indicator - landscape orientation */
@media (min-aspect-ratio: 1/1) {
  .scroll-down-indicator {
    width: 30px;
    height: 20px;
  }
  .scroll-down-indicator::after { bottom: 2px; }
  @keyframes scroll-down-indicator {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    25% {
      transform: translateX(-50%);
      opacity: 1;
    }
    50%, 75% {
      transform: translateX(-50%) translateY(-5px);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-5px);
      opacity: 0;
    }
  }
}


/* Scroll Top Button */
#scroll-top-btn {
  position: fixed;
  bottom: calc(var(--main-padding) / 2);
  right: 50%;
  transform: translateX(50%) scale(0.95);
  width: max(50px, var(--main-padding));
  height: max(50px, var(--main-padding));
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  box-shadow: 0.05em 0.05em 0.25em var(--grey-shadow);
  /* box-shadow: 0.05em 0.05em 0.25em var(--grey-shadow),
              -0.05em -0.05em 0.25em var(--grey-shadow) inset; */
  transition: 0.15s transform ease-in-out,
              0.25s opacity ease-in-out;
  /* animated background */
  background-image: linear-gradient(
    30deg, var(--indigo), var(--blue), var(--indigo)
    );
  background-size: 300% 300%;
}
#scroll-top-btn:hover { transform: translateX(50%) scale(1); }
#scroll-top-btn.displayed {
  cursor: pointer;
  opacity: 1;
  animation: 6s bg-shift ease-in-out infinite;
}
#scroll-top-btn::before,
#scroll-top-btn::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  width: 10%;
  height: 50%;
  border-radius: 15px;
  background: white;
  transform-origin: top;
}
#scroll-top-btn::before {
  transform: translate(-30%, -50%) rotate(30deg);
}
#scroll-top-btn::after {
  transform: translate(-70%, -50%) rotate(-30deg);
}

@media (min-aspect-ratio: 1/1) {
  #scroll-top-btn {
    right: var(--main-padding);
    transform: scale(0.95);
  }
  #scroll-top-btn:hover {
    transform: scale(1);
  }
}

/* Badge for Featured Projects */
.featured-badge {
  position: absolute;
  top: 0; right: 0;
  transform: translate(15%, -15%) rotate(5deg);
  width: calc(var(--main-padding) * 2);
  height: calc(var(--main-padding) * 2);
}

/* add ribbons */
.featured-badge::before,
.featured-badge::after {
  content: '';
  position: absolute;
  top: 50%;
  width: calc(var(--main-padding) / 2);
  height: calc(var(--main-padding) * 1.5);
  background: var(--red);
  border-width: 0 0.25em;
  border-color: var(--indigo-shadow);
  border-style: solid;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0% 100%);
}
.featured-badge::before {
  left: 0; transform: translateX(100%) rotate(25deg);
}
.featured-badge::after {
  right: 0; transform: translateX(-100%) rotate(-25deg);
  z-index: -1;
}
/* text */
.featured-badge span {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--main-padding) * 2);
  height: calc(var(--main-padding) * 2);
  font-size: calc(var(--main-padding) * 3 / 4);
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow);
  box-shadow: 0.025em 0.025em 0.1em var(--grey-shadow);
  border-radius: 50%;
}
/* text area */
.featured-badge span::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 85%; height: 85%;
  background: var(--yellow-shadow);
  box-shadow: 0.025em 0.025em 0.1em var(--grey-shadow) inset;
  border-radius: 50%;
  z-index: -1;
}


/* ------------------------------------------------------------------ Loader */
#loader {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--green);
  color: white;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1s opacity ease-in;
}
#loader .leaf, #loader .orb { z-index: -1; }

/* ------------------------------------------------------------------ Header */
header {
  /* border: 1px solid red; */
  padding-bottom: calc(var(--main-padding) * 3 / 5);
  transform: translateY(0);
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.25s background ease-out,
              0.25s box-shadow ease-out,
              0.25s transform ease-out;
}
header.filled {
  transform: translateY(calc(var(--main-padding) * -2 / 5));
  background: var(--green);
  box-shadow: 0 0 15px var(--green-shadow);
}
/* adjust for header.filled translateY animation*/
header.filled nav.active {
  transform: translateX(0) translateY(calc(var(--main-padding) * -2 / 5));
}
header.filled nav.active::after {
  transform: translateX(-100%) translateY(calc(var(--main-padding) * 4 / 5));
}
header.filled #header-bg.active {
  transform: translateY(calc(var(--main-padding) * 2 / 5));
}

header + * { padding-top: 78px;  /* height of header */ }


/* Header Logo */
header span {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  z-index: 103;
}
header span a {
  color: white;
}
header span a:hover {
  text-decoration: none;
  color: var(--yellow);
}


/* Header Nav */
header nav {
  position: fixed;
  top: 0; right: 0;
  background: var(--blue);
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 78px;  /* height of header */
  z-index: 102;
  transform: translateX(calc(100% + 50px));  /* 50px height of ::after */
  transition: 0.25s transform ease-out,
              0.25s padding ease-out;
}
header nav::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 78px;  /* height of header */
  background: var(--blue-light);
}

header nav::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  transform: translateX(-100%);
  width: 100px; height: 100px;
  border-radius: 50%;
  box-shadow: 50px -50px 0 var(--blue-light);
  z-index: -1;
  transition: 0.25s transform ease-out;
}
header nav.active { transform: translateX(0); }
header nav a {
  color: white;
  font-size: calc(var(--main-font-size) * 1.25);
  padding: var(--main-padding);
  padding-left: calc(var(--main-padding) * 1.75);
  display: block;
  transition: 0.15s background ease-out;
}
header nav a:hover {
  background: var(--blue-light);
}
header nav a:last-child {
  border-radius: 0 0 0 50px;
}


/* Header Background */
#header-bg {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100vh;
  background: var(--indigo-shadow);
  z-index: 101;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.25s opacity ease-out,
              0.25s transform ease-out;
}
#header-bg.active {
  opacity: 1;
  transform: translateY(0);
}
/* make orbs (clones from intro generation) look like stars */
#header-bg .orb {
  background: var(--grey-light);
  transform: scale(0.5);
}


/* Hamburger Menu */
.nav-toggle {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 25px;
  transition: 0.25s transform ease-in-out;
  z-index: 103;
}
.nav-toggle.active {
  transform: rotate(-90deg);
}

.nav-toggle span {
  background-color: white;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.nav-toggle span:nth-child(1) {
  animation: out-top 0.5s ease-in-out;
}
.nav-toggle span:nth-child(2) {
  margin: 5px 0;
  animation: out-mid 0.5s ease-in-out;
}
.nav-toggle span:nth-child(3) {
  animation: out-btm 0.5s ease-in-out;
}

.nav-toggle.active span:nth-child(1) {
  animation: in-top 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(2) {
  animation: in-mid 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(3) {
  animation: in-btm 0.5s ease-in-out forwards;
}

/* to hamburger */
@keyframes out-top {
  0% { transform: translateY(9px) rotate(-135deg); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}
@keyframes out-mid {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(0); }
}
@keyframes out-btm {
  0% { transform: translateY(-9px) rotate(-135deg); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}

/* to x btn */
@keyframes in-top {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(9px) rotate(-135deg); }
}
@keyframes in-mid {
  50% { transform: rotate(0); }
  100% { transform: rotate(-45deg); }
}
@keyframes in-btm {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(-9px) rotate(-135deg); }
}


/* ------------------------------------------------------------------ Footer */
footer {
  color: white;
  padding-top: 0;
  padding-bottom: max(var(--main-padding), 75px);

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
footer > div {
  display: flex;
  padding: 1em 0;
}

/* info section */
footer .info {
  align-items: center;
  justify-content: flex-start;
}
footer img.logo {
  border-radius: 50%;
  border: min(1vmin, 5px) solid var(--green-shadow);
  width: min(15vmin, 100px);
}
footer .info span {
  margin-left: 0.5em;
  font-size: min(4.75vw, calc(var(--main-font-size) * 1.5));
}
footer .info em {
  font-family: 'Pacifico', cursive;
  font-style: normal;
}

/* links section */
footer .links {
  border-top: 1px solid var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
  justify-content: space-between;
  align-items: center;
}
footer nav a {
  color: white;
  font-weight: bold;
  font-size: min(4vw, calc(var(--main-font-size) * 1.5));
  display: block;
  margin-bottom: 0.5em;
}
footer nav a:last-of-type { margin: 0; }
@media (min-aspect-ratio: 1/1) {
  footer nav a {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em;
  }
}
footer .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-icon:hover { text-decoration: none; }
footer .social-icon img {
  max-width: min(10vmin, 50px);
  margin-left: 1em;
  transform: scale(0.75);
  transition: 0.25s transform ease-in-out;
}
footer .social-icon:first-of-type img {
  margin: 0;
}
footer .social-icon img:hover {
  transform: none;
  filter: drop-shadow(0 0 5px var(--indigo));
}
footer a.resume {
  color: white;
  display: block;
  font-weight: bold;
}

/* copyright */
footer > span {
  margin-top: 1em;
  font-size: 80%;
}

/* ------------------------------------------------ Medium Screen Breakpoint */
@media (min-width: 750px) and (min-height: 850px) {
  * {
    --main-padding: 50px;
    --main-font-size: 20px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  header span { font-size: 24px; }
  header nav { padding-top: 135px;  /* height of header */ }
  header nav::before { height: 135px;  /* height of header */ }
  header nav a { padding: 25px 50px; }

  header + * { padding-top: 135px;  /* height of header */ }
}


/* ------------------------------------------------- Large Screen Breakpoint */
@media (min-width: 1600px) and (min-height: 1050px) {
  * {
    --main-padding: 75px;
    --main-font-size: 30px;
  }

  header span { font-size: 32px; }
  header nav { padding-top: 187.5px;  /* height of header */ }
  header nav::before { height: 187.5px;  /* height of header */ }
  header nav a { padding: 37.5px 75px; }

  /* readjust for header.filled translateY animation*/
  header.filled nav.active {
    transform: translateX(0) translateY(calc(var(--main-padding) * -1 / 5));
  }
  header.filled nav.active::after {
    transform: translateX(-100%) translateY(calc(var(--main-padding) * 3 / 5));
  }

  header + * { padding-top: 187.5px;  /* height of header */ }

  .nav-toggle {
    width: 45px;
    height: 37.5px;
  }
  .nav-toggle span {
    border-radius: 3px;
    height: 6px;
  }
  .nav-toggle span:nth-child(2) { margin: 7.5px 0; }
  /* to hamburger */
  @keyframes out-top {
    0% { transform: translateY(13.5px) rotate(-135deg); }
    50% { transform: translateY(13.5px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
  }
  @keyframes out-btm {
    0% { transform: translateY(-13.5px) rotate(-135deg); }
    50% { transform: translateY(-13.5px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
  }
  /* to x btn */
  @keyframes in-top {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(13.5px) rotate(0); }
    100% { transform: translateY(13.5px) rotate(-135deg); }
  }
  @keyframes in-btm {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(-13.5px) rotate(0); }
    100% { transform: translateY(-13.5px) rotate(-135deg); }
  }
}
