/* natural box layout model, allowing overrides */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


/* override and set custom defaults */
* {
  margin: 0;
  padding: 0;
}

* {
  --electric-indigo: #6201ff;
  /* --forest-green-traditional: #1e3f20;
  --forest-green-traditional-shadow: #0c1a0d; */
  --green-pigment: #08A045;
  --green-pigment-shadow: #055927;
  --red-pigment: #ff0022;
  --blue-jeans: #48acf0;
  --light-blue: #61b6f0;
  --roman-silver: #919098;
  --light-grey: #f1f1f1;
  --jonquil: #f0c808;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }


.leaf {
  position: absolute;
  background: var(--green-pigment-shadow);
  border-radius: 75% 10% 75% 0;
  opacity: 0.25;
}
/* add leaf stem */
.leaf::after {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  height: 150%;
  width: 5%;
  /* background: #040804; */
  /* background: #112412; */
  background: #076e30;
  transform-origin: bottom left;
  transform: translateX(-75%) rotate(45deg) translateY(-15%);
  border-radius: 30% 30% 50% 50%;
}

.orb {
  position: absolute;
  border-radius: 50%;
  background: var(--jonquil);
  animation: 5s twinkle ease-in-out infinite;
}
@keyframes twinkle {
  0%, 100% { opacity: 0.15; }
  50% { opacity: 1; }
}

.square {
  position: absolute;
  border-radius: 2vmin;
  background: var(--electric-indigo);
  z-index: -1;
  opacity: 0.05;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 175%;
}
body > * {
  padding: 25px;
}

#loader {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--green-pigment);
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1s opacity ease-in;
}
#loader .leaf, #loader .orb { z-index: -1; }

header {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  transition: 0.25s background ease-out,
              0.25s box-shadow ease-out,
              0.25s padding ease-out;
}
header.filled {
  padding: 15px 25px;
  background: var(--green-pigment);
  box-shadow: 0 0 15px var(--green-pigment-shadow);
}
header.filled nav {
  padding-top: 58px;
}

header span {
  font-size: 20px;
  font-family: 'Pacifico', cursive;
  z-index: 103;
}

header nav {
  position: fixed;
  top: 0; right: 0;
  background: var(--blue-jeans);
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 78px;  /* height of header */
  z-index: 102;
  transform: translateX(calc(100% + 50px));  /* 50px height of ::after */
  transition: 0.25s transform ease-out,
              0.25s padding ease-out;
}
header nav::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 78px;  /* height of header */
  background: var(--light-blue);
  transition: 0.25s height ease-out;
}
header.filled nav {
  padding-top: 58px;  /* height of header */
}
header.filled nav::before {
  height: 58px;  /* height of header */
}
header nav::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  transform: translateX(-100%);
  width: 100px; height: 100px;
  border-radius: 50%;
  box-shadow: 50px -50px 0 var(--light-blue);
  z-index: -1;
}
header nav.active { transform: translateX(0); }
header nav a {
  color: white;
  padding: 10px 25px;
  display: block;
  transition: 0.15s background ease-out;
}
header nav a:hover {
  background: var(--light-blue);
}
header nav a:last-child {
  border-radius: 0 0 0 50px;
}

#header-bg {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  z-index: 101;
  transform: translateY(-100%);
  opacity: 0;
}
#header-bg.active {
  opacity: 0.9;
  transform: translateY(0);
}
#header-bg::before,
#header-bg::after {
  content: '';
  position: absolute;
  background: var(--electric-indigo);
}
#header-bg::before {
  left: 10vw; top: 10vh;
  transform: translate(-50%, -50%);
  width: 45vmax; height: 45vmax;
  filter: blur(30vmax);
  transform-origin: bottom right;
}
#header-bg::after {
  right: 10vw; bottom: 10vh;
  transform: translate(50%, 50%);
  width: 35vmax; height: 35vmax;
  filter: blur(25vmax);
  transform-origin: top left;
}
/* make orbs (clones from intro generation) look like stars */
#header-bg .orb {
  background: var(--light-grey);
  transform: scale(0.5);
}

.nav-toggle {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 25px;
  transition: 0.25s transform ease-in-out;
  z-index: 103;
}
.nav-toggle.active {
  transform: rotate(-90deg);
}

.nav-toggle span {
  background-color: white;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.nav-toggle span:nth-child(1) {
  animation: out-top 0.5s ease-in-out;
}
.nav-toggle span:nth-child(2) {
  margin: 5px 0;
  animation: out-mid 0.5s ease-in-out;
}
.nav-toggle span:nth-child(3) {
  animation: out-btm 0.5s ease-in-out;
}

.nav-toggle.active span:nth-child(1) {
  animation: in-top 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(2) {
  animation: in-mid 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(3) {
  animation: in-btm 0.5s ease-in-out forwards;
}

/* to hamburger */
@keyframes out-top {
  0% { transform: translateY(9px) rotate(-135deg); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}
@keyframes out-mid {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(0); }
}
@keyframes out-btm {
  0% { transform: translateY(-9px) rotate(-135deg); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}

/* to x btn */
@keyframes in-top {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(9px) rotate(-135deg); }
}
@keyframes in-mid {
  50% { transform: rotate(0); }
  100% { transform: rotate(-45deg); }
}
@keyframes in-btm {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(-9px) rotate(-135deg); }
}


#intro {
  position: relative;
  height: 105vh;
  padding-top: 78px;  /* height of header */
  padding-bottom: calc(5vh + 25px);
  background: var(--green-pigment);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100vh);
}

#main-logo-wrap {
  position: absolute;
  right: 0;
  top: 50vh;
  transform: translate(67%, -50%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: max(1.5vmax, 15px) solid var(--green-pigment-shadow);
  background: var(--green-pigment-shadow);
}
#main-logo {
  width: 100vmax;
  height: 100vmax;
  animation: 3s teeter ease-in-out alternate infinite;
}
#main-logo.blurred { filter: blur(5px); }
@keyframes teeter {
  0% { transform: rotate(-2.5deg); }
  100% { transform: rotate(2.5deg); }
}
.main-logo-overlay {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100vmax;
  height: 100vmax;
  border-radius: 50%;
  background: var(--blue-jeans);
  box-shadow: 0 0 3vmax 1vmax var(--green-pigment-shadow) inset;
  opacity: 0.55;
}

#intro div { z-index: 1; /* ensure text appears above img */ }
#intro .blurb p {
  position: relative;
  margin: 10px 0;
  font-size: 16px;
  max-width: 70vw;
}
#intro .blurb i { font-weight: bold; }
#intro .blurb span {
  position: absolute;
  left: 0; top: 0;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  text-shadow: 2.5px 2.5px 2.5px var(--green-pigment-shadow);
}
#intro .blurb span.active { opacity: 1; }

#intro .details {
  line-height: min(10vh, 72px);
  align-self: flex-end;
  text-align: center;
  margin-bottom: 30px;  /* bugfix: mobile browser height shift */
}
@media (min-width: 450px) and (min-height: 850px) {
  /* remove mobile browser height shift bugfix */
  #intro .details { margin-bottom: 0; }
}

#intro .details h1 {
  font-size: min(10vh, 72px);
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  margin-bottom: 10px;
  text-shadow: 5px 5px 5px var(--green-pigment-shadow);
}
#intro .details h2 { font-size: min(5vh, 32px); }

#intro .details a {
  margin: 0 15px;
  text-decoration: none;
}
#intro .details img {
  width: 35px;
  transition: 0.25s transform ease-in-out;
}
#intro .details img:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 0 5px var(--electric-indigo));
}

@media (min-width: 500px) and (min-height: 500px) {
  #intro .details { text-align: right; }
  #intro .details a { margin: 0 0 0 30px; }
}

#demo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-bottom: calc(10vh + 25px);

}
#demo .blurb { margin-bottom: 50px; }
@media (min-aspect-ratio: 4/3) and (min-height: 350px) {
  #demo {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #demo .blurb {
    text-align: right;
    margin-left: 25px;
    margin-bottom: 0;
    max-width: 40vw;
  }
  #demo figure { align-self: center; }
}

/* figure presets */
#demo figure {
  position: relative;
  align-self: center;
  border: 1vmin solid transparent;
  padding: 3vmin 6vmin 9vmin 6vmin;
  height: 49vmin;  /* 40vmin .monitor + 9vmin padding-bottom  */
  border-radius: 1.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#demo figure,
#demo figure *,
#demo figure *::before,
#demo figure *::after {
  transition: 0.5s ease-in-out all;
}

#demo figure > .text {
  position: absolute;
  right: -0.5vmin; bottom: -0.5vmin;
  padding: 0.5vmin 4.5vmin;
  border-radius: 1.5vmin 0 0 0;
  background: var(--green-pigment);
  color: white;
  opacity: 0;
}
#demo figure .text {
  font-weight: bold;
  font-size: min(4vmin, 100%);
}

#demo figure .pipeline,
#demo figure .database {
  width: 0;
  overflow: hidden;
  z-index: 2;
}

/* with host functionality */
#demo figure.with-host {
  border-color: var(--green-pigment);
}
#demo figure.with-host > .text { opacity: 1; }

/* website presets */
#demo figure .website {
  text-align: center;
}
#demo figure .monitor {
  position: relative;
  background: #ffffffaa;
  box-shadow: 0 0 1vmin var(--roman-silver);
  border-radius: 1vmin;
  width: 60vmin;
  height: 40vmin;
  padding: 1.5vmin;
  z-index: 2;
  overflow: hidden;
}
#demo figure .monitor::before,
#demo figure .monitor::after {
  content: '';
  position: absolute;
  width: 6vmin;
  height: 1.25vmin;
  right: 3vmin;
  background: white;
  border-radius: 1.5vmin;
  opacity: 0;
}
#demo figure .monitor::before { top: 3vmin; }
#demo figure .monitor::after { top: 6vmin; }
#demo figure .monitor .title::before,
#demo figure .monitor .title::after {
  content: '';
  position: absolute;
  width: 18vmin; height: 18vmin;
  filter: blur(12vmin);
  background: var(--electric-indigo);
  opacity: 0;
  z-index: -1;
}
#demo figure .monitor .title::before { left: 3vmin; bottom: 6vmin; }
#demo figure .monitor .title::after { right: 3vmin; top: 6vmin; }

#demo figure .monitor .title {
  position: absolute;
  left: 50%; top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 6vmin;
}
#demo figure .website .text {
  display: none;
}
#demo figure .website .text:nth-of-type(1) { display: inline; }

/* with css functionality */
#demo figure.with-css .monitor {
  box-shadow: 0 0 1vmin var(--blue-jeans);
  background: var(--blue-jeans);
  color: white;
}
#demo figure.with-css .monitor .title { font-family: 'Pacifico', cursive; }
#demo figure.with-css .monitor .title::before,
#demo figure.with-css .monitor .title::after {
  opacity: 1;
}
#demo figure.with-css .website .text { color: var(--blue-jeans); }
#demo figure.with-css .website .text:nth-of-type(2) { display: inline; }

/* with-js functionality */
#demo figure.with-js .monitor::before,
#demo figure.with-js .monitor::after {
  opacity: 1;
}

#demo figure.with-js .website .text:nth-of-type(3) { display: inline; }

/* php presets */
#demo figure .pipeline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
#demo figure .pipeline .pipe {
  width: 20vmin;
  height: 2vmin;
  margin: 0.75vmin 0;
  background-size: 300% 300%;
  background-image: linear-gradient(
    to left, var(--red-pigment), var(--jonquil), var(--red-pigment)
  );
  box-shadow: 0 0 0.5vmin var(--red-pigment);
  animation: 2s bg-shift linear infinite;
}
#demo .pipeline .pipe:nth-child(1) {
  animation-duration: 3s;
}
#demo figure .pipeline .text {
  color: var(--red-pigment);
}
@keyframes bg-shift {
  0%, 100% { background-position: left; }
  50% { background-position: right; }
}

/* with php functionality */
#demo figure.with-php .pipeline {
  width: 15vmin;
}

#demo figure.with-php .website .title { font-size: 4vmin; }
#demo figure.with-php .monitor {
  width: 45vmin;
  height: 30vmin;
}
#demo figure.with-php .monitor .title::before,
#demo figure.with-php .monitor .title::after {
  width: 13.5vmin; height: 13.5vmin;
  filter: blur(9vmin);
}
#demo figure.with-php .monitor .title::before { bottom: 3vmin; }
#demo figure.with-php .monitor .title::after { top: 3vmin; }
#demo figure.with-php .monitor::before,
#demo figure.with-php .monitor::after {
  width: 4.5vmin;
  height: 0.75vmin;
  border-radius: 1vmin;
}
#demo figure.with-php .monitor::after { top: 5vmin; }

/* sql presets */
#demo .database {
  text-align: center;
}
#demo .database div {
  background: black;
  box-shadow: 0 0 0.5vmin black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmin;
  border-radius: 1vmin;
}
#demo .database div .light {
  width: 100%;
  height: 1vmin;
  margin: 1vmin;
  border-radius: 1vmin;
  animation: 3s flash linear infinite;
}
#demo .database div .light:nth-child(1) { animation-delay: 0.25s; }
#demo .database div .light:nth-child(2) { animation-delay: 0.125s; }
@keyframes flash {
  0% { background: white; }
  50%, 100% { background: var(--electric-indigo); }
}
#demo .database div .title {
  color: white;
  font-size: min(85%, 3vmin);
}
#demo .database .text { color: var(--electric-indigo); }

/* with sql functionality */
#demo figure.with-sql .database {
  width: 17.5vmin;
}

#demo figure.with-sql .pipeline {
  overflow: visible;
  width: 12.5vmin;
}

#demo figure.with-sql .monitor {
  width: 30vmin;
  height: 20vmin;
}
#demo figure.with-sql .monitor .title::before,
#demo figure.with-sql .monitor .title::after {
  width: 9vmin; height: 9vmin;
  filter: blur(6vmin);
}
#demo figure.with-sql .monitor .title::before { bottom: 1.5vmin; }
#demo figure.with-sql .monitor .title::after { top: 1.5vmin; }
#demo figure.with-sql .monitor::before,
#demo figure.with-sql .monitor::after {
  width: 3.25vmin;
  height: 0.5vmin;
  right: 1.5vmin;
  border-radius: 0.5vmin;
}
#demo figure.with-sql .monitor::before {
  top: 2vmin;
  animation: 4s move-x-top-sm ease-in-out alternate infinite;
}
#demo figure.with-sql .monitor::after {
  top: 3.5vmin;
  animation: 4s move-x-btm-sm ease-in-out alternate infinite;
}
@keyframes move-x-top-sm {
  0%, 35% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(0.75vmin) rotate(0); }
  65%, 100% { transform: translateY(0.75vmin) rotate(45deg); }
}
@keyframes move-x-btm-sm {
  0%, 35% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-0.75vmin) rotate(0); }
  65%, 100% { transform: translateY(-0.75vmin) rotate(-45deg); }
}

#demo figure.with-sql .pipeline .pipe {
  height: 1.25vmin;
  margin: 0.75vmin 0;
}


#filler {
  position: relative;
  background: var(--light-grey);
}
#filler::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 5vh;
  background: var(--light-grey);
  transform: translateY(-99%);
  clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
}
#filler h2 { margin-bottom: 15px; }
#filler p {
  width: 100%;
  margin-bottom: 50px;
}
#filler p:nth-of-type(2) {
  text-align: center;
}
#filler a {
  padding: 20px;
  border-radius: 50px;
  background: var(--blue-jeans);
  color: white;
  font-weight: bold;
}


footer {
  background: var(--green-pigment);
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}


@media (min-width: 750px) and (min-height: 850px) {
  body { font-size: 20px; }
  body > * { padding: 50px; }
  h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  header span { font-size: 24px; }
  header nav { padding-top: 135px;  /* height of header */ }
  header nav::before { height: 135px;  /* height of header */ }
  header nav a { padding: 25px 50px; }
  header.filled { padding: 25px 50px; }
  header.filled nav { padding-top: 85px;  /* height of header */ }
  header.filled nav::before { height: 85px;  /* height of header */ }

  #intro { padding-top: 135px;  /* height of header */ }
  #intro .blurb p {
    margin: 25px 0;
    font-size: 28px;
    line-height: 36px;
    max-width: 70vw;
  }
  #intro .blurb span { font-size: 36px; }

  #intro .details { line-height: 110px; }
  #intro .details h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }
  #intro .details h2 { font-size: 58px; }
  #intro .details a { margin: 0 0 0 40px; }
  #intro .details img {
    width: 40px;
    transition: 0.25s transform ease-in-out;
  }

  #filler p {
    width: 100%;
    margin-bottom: 50px;
  }
  #filler p:nth-of-type(2) {
    text-align: left;
  }

  footer {
    padding: 15px 50px;
    text-align: right;
  }
}



@media (min-width: 1600px) and (min-height: 1050px) {
  body > * { padding: 75px; }

  header span { font-size: 32px; }
  header nav { padding-top: 187.5px;  /* height of header */ }
  header nav::before { height: 187.5px;  /* height of header */ }
  header nav a { padding: 37.5px 75px; }
  header.filled { padding: 37.5px 75px; }
  header.filled nav { padding-top: 112.5px;  /* height of header */ }
  header.filled nav::before { height: 112.5px;  /* height of header */ }

  .nav-toggle {
    width: 45px;
    height: 37.5px;
  }
  .nav-toggle span {
    border-radius: 3px;
    height: 6px;
  }
  .nav-toggle span:nth-child(2) { margin: 7.5px 0; }
  /* to hamburger */
  @keyframes out-top {
    0% { transform: translateY(13.5px) rotate(-135deg); }
    50% { transform: translateY(13.5px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
  }
  @keyframes out-btm {
    0% { transform: translateY(-13.5px) rotate(-135deg); }
    50% { transform: translateY(-13.5px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
  }
  /* to x btn */
  @keyframes in-top {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(13.5px) rotate(0); }
    100% { transform: translateY(13.5px) rotate(-135deg); }
  }
  @keyframes in-btm {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(-13.5px) rotate(0); }
    100% { transform: translateY(-13.5px) rotate(-135deg); }
  }

  #intro { padding-top: 187.5px;  /* height of header */ }
  #intro .blurb p {
    margin: 50px 0;
    font-size: 36px;
    line-height: 48px;
    max-width: 70vw;
  }
  #intro .blurb span { font-size: 48px; }
  #intro .details h1 {
    font-size: 110px;
  }


  #filler { font-size: 24px; }
  #filler h2 {
    font-size: 36px;
    margin-bottom: 24px;
  }

  footer {
    padding: 25px 75px;
    text-align: right;
    font-size: 16px;
  }
}
