article:not(:last-of-type) {
  margin-bottom: var(--main-spacing);
}


/* ----------------------------------------------------------- Intro Section */
#intro {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-spacing) * 2);
  gap: var(--main-spacing);
  text-align: center;
}


#intro-left img {
  border: 10px solid var(--green-600);
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
}

#intro-left h1 {
  font-size: 2.5rem;
  line-height: 2em;
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 2px var(--grey-600);
}


#intro-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

#intro .taglines {
  position: relative;
  min-height: 2em;
  width: 100%;
}
#intro-right .tagline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: calc(var(--main-font-size) * 1.5);
  font-family: 'Pacifico', cursive;
  opacity: 0;
  width: 100%;
  transition: 1s opacity ease-in-out;
}
#intro-right .tagline.active { opacity: 1; }


#intro-right .socials { margin-top: var(--main-spacing); }


@media (min-width: 850px) {
  #intro {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
  }
  #intro-left {
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px var(--green-600);
    overflow: hidden;
    padding: calc(var(--main-spacing) / 2);
    position: relative;
    z-index: 1;
  }
  #intro-left::before {
    background: var(--green-600);
    content: '';
    inset: 0;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
  }
  #intro-right {
    align-items: flex-start;
    padding: calc(var(--main-spacing) / 2);
    text-align: left;
    border-top: 1px solid var(--grey-400);
    border-bottom: 1px solid var(--grey-400);
  }
  #intro-right::after { top: 0; }
  #intro-right::before { bottom: 0; }

  #intro-right .socials {
    margin-top: auto;
    margin-left: auto;
  }
}


/* Featured Section -------------------------------------------------------- */
#featured .flex {
  position: relative;
  margin-bottom: calc(var(--main-spacing) / 2);
}
#featured .flex::after {
  --width: 10px;
  background: var(--green-600);
  border-radius: var(--width);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--width);
  z-index: 1;
}

#featured .heading-card {
  background: var(--green-600);
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--green-600);
  padding: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  align-items: stretch;
  overflow-x: auto;
  padding: 1em 0 1.5em 1em;
  margin-bottom: 1em;
  scroll-snap-type: x mandatory;
}
.card-container::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.card-container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--green-600);
}
.card-container::-webkit-scrollbar-thumb:hover {
  background: var(--blue-600);
}
.card-container::-webkit-scrollbar-track {
  background: var(--grey-400);
  border-radius: 15px;
}

#featured .card {
  position: relative;
  min-width: min(90%, 400px);
  background: var(--grey-400);
  box-shadow: 0 0 10px var(--green-600);
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
  margin-right: 1em;
  border-radius: var(--border-radius);
  transition: 0.25s transform;
}
@media (min-aspect-ratio: 1/1) and (max-width: 1000px) {
  #featured .card {
    min-width: 65vh;
  }
}

/* tweak featured badge position */
#featured .featured-badge {
  top: auto;
  bottom: 0;
  transform: translate(5%, 5%) rotate(-5deg);
}
#featured .card:nth-child(2n) .featured-badge {
  transform: translate(5%, 5%) rotate(5deg);
}
@media (min-width: 750px) and (min-height: 850px) {
  #featured .featured-badge {
    transform: translate(15%, 15%) rotate(-5deg) scale(0.75);
  }
  #featured .card:nth-child(2n) .featured-badge {
    transform: translate(15%, 15%) rotate(5deg) scale(0.75);
  }
}

#featured a.card {
  cursor: pointer;
  padding: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 150%;
  color: white;
  /* override .card class */
  min-width: inherit;
  border: 0;
  border-radius: var(--border-radius);
  background: var(--blue-600);
  transform: scale(0.95);
}
#featured a.card:hover {
  transform: none;
  text-decoration: none;
}

#featured .card img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
#featured .card em {
  display: block;
  color: var(--grey-500);
  font-size: 80%;
  text-align: center;
  margin-top: 0.5em;
}

#featured .card .info {
  padding: 1em;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#featured .info .btn-text {
  line-height: normal;
  margin-top: 0.5em;
}

#featured p {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}
#featured p a {
  font-weight: bold;
  white-space: nowrap;
}

@media (min-width: 1000px) {
  #featured .card {
      margin-right: 0.25em;
    /* hover animation */
    transform: scale(0.95);
  }
  #featured .card:hover { transform: none; }
  #featured a.card {
    transform: scale(0.9);
  }
  #featured a.card:hover {
    transform: scale(0.95);
  }
}

@media (min-aspect-ratio: 1/1) {
  #featured .flex {
    display: flex;
    align-items: center;
  }
  #featured .flex::after { content: ''; }
  #featured .heading-card {
    padding: 0;
    align-self: stretch;
    max-width: 3em;
  }
  #featured .heading-card h2 {
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-bottom: 0.25em;
  }
  .card-container::-webkit-scrollbar-track {
    margin: 0 var(--main-spacing);
  }
  #featured .card:last-child {
    margin-right: calc(var(--main-spacing) / 2);
  }
  #featured p { text-align: right; }
}


/* ---------------------------------------------------------- Skills Section */
article#skills {
  background: transparent;
  box-shadow: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding-bottom: 16px;
  position: relative;
  text-align: center;
}
#skills::after {
  --height: 10px;
  background: var(--green-600);
  border-radius: var(--height);
  bottom: 0;
  content: '';
  height: var(--height);
  left: 0;
  position: absolute;
  right: 0;
}

#skills h2 {
  background: var(--green-600);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.5vmin var(--green-600);
  padding: 0.5em 1em;
  position: relative;
}

#skills .flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-spacing);
  justify-content: center;
  padding: 16px;
}

#skills h3 {
  position: relative;
  z-index: 1;
}
#skills h3::before {
  background: var(--green-600);
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
#skills h3 span {
  background: var(--green-600);
  border-radius: var(--border-radius);
  padding: 0.25em 0.75em;
}


#skills .flex > * { --color: #ffffff; }
#skills a:hover { --color: var(--blue-500); }
#skills .skill-box {
  line-height: normal;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125em;
  color: var(--color);
  white-space: wrap;
  white-space: pre-wrap;
}
#skills .skill-box svg {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  fill: var(--color);
}
#skills .bubble-text {
  font-size: 100%;
  background: var(--color);
}
