/* ----------------------------------------------------------- Intro Section */
#intro {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* mobile only layout */
  gap: calc(var(--main-spacing) * 2);
  justify-content: space-between;
}


#intro-left img {
  border: 10px solid var(--green-600);
  border-radius: 50%;
  width: 100%;
  max-width: 250px;
}

#intro-left h1 { line-height: 2em; }


#intro-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

#intro .taglines {
  position: relative;
  min-height: 2em;
  width: 100%;
}
#intro-right .tagline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
  opacity: 0;
  width: 100%;
  transition: 1s opacity ease-in-out;
}
#intro-right .tagline.active { opacity: 1; }


#intro-right .socials { margin-top: var(--main-spacing); }


@media (min-width: 55rem) {
  #intro {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    /* unset mobile-only styles */
    gap: var(--main-spacing);
    padding-bottom: 0;
  }
  #intro > * { padding: var(--main-spacing); }
  #intro-left {
    background: var(--green-600);
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px var(--green-600);
    overflow: hidden;
    z-index: 1;
  }
  #intro-right {
    align-items: flex-start;
    text-align: left;
    border-top: 1px solid var(--grey-400);
    border-bottom: 1px solid var(--grey-400);
  }
  #intro-right::after { top: 0; }
  #intro-right::before { bottom: 0; }

  #intro-right .socials {
    margin-top: auto;
    margin-left: auto;
  }
}


/* Featured Section -------------------------------------------------------- */
#featured .flex {
  position: relative;
  margin-bottom: var(--main-spacing);
}

#featured .heading-card {
  background: var(--green-600);
  color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--green-600);
  padding: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#featured a.card {
  cursor: pointer;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 150%;
  color: white;
  /* override .card class */
  min-width: inherit;
  border: 0;
  border-radius: var(--border-radius);
  background: var(--blue-600);
  box-shadow: 0 0 5px var(--green-600);
  transform: scale(0.95);
  transition: 0.25s transform;
}
#featured a.card:hover {
  background: var(--blue-500);
  transform: none;
  text-decoration: none;
}

#featured > p {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
}
#featured > p a {
  font-weight: bold;
  white-space: nowrap;
}

@media (min-aspect-ratio: 1/1) {
  #featured .flex { display: flex; }
  #featured .flex::after {
    --width: 10px;
    background: var(--green-600);
    border-radius: var(--width);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--width);
    z-index: 1;
  }
  #featured .heading-card {
    padding: 0;
    align-self: stretch;
    max-width: 3em;
  }
  #featured .heading-card h2 {
    transform: rotate(-90deg);
    white-space: nowrap;
    margin-bottom: 0.25em;
  }
  #featured a.card { transform: scale(0.9); }
  #featured a.card:hover { transform: scale(0.95); }
  #featured > p { text-align: right; }
}


/* ---------------------------------------------------------- Skills Section */
#skills {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  text-align: center;
}

#skills h2 {
  background: var(--green-600);
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px var(--green-600);
  padding: 0.5em 1em;
  position: relative;
}

#skills > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#skills section {
  background: var(--grey-400);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--green-600);
  overflow: hidden;
}

#skills .flex {
  padding: var(--main-spacing);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--main-spacing);
  justify-content: center;
}

#skills h3 {
  background: var(--grey-500);
  padding: calc(var(--main-spacing) / 2) var(--main-spacing);
}

#skills .image-text { --icon-size: 45px; }
#skills .image-text:not(:hover) { --image-text-color: var(--grey-500); }


@media (min-width: 70rem) {
  #skills > div {
    flex-direction: row;
    padding: 0 16px;
  }
  #skills section { flex: 1; }
}
