/* ---------------------------------------------------------- Custom Presets */

/* natural box layout model, allowing overrides */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


/* override and set custom defaults */
* {
  margin: 0;
  padding: 0;
}

html {
  /* Root Variables */
  /* other */
  --header-height: 78px;
  --main-font-size: 16px;
  --main-spacing: 25px;
  --fixed-to-side: max(var(--main-spacing), calc((100vw - 1500px) / 2));
  /* colors */
  --indigo-500: #6201ff;
  --indigo-600: #140037;
  --green-500: #06632c;
  --green-600: #033d1a;
  --red-500: #ff0000;
  --red-600: #b50000;
  --blue-400: #61b6f0;
  --blue-500: #48acf0;
  --blue-600: #148bdb;
  --grey-400: #dedede;
  --grey-500: #919098;
  --grey-600: #303030;
  --yellow-500: #f0c808;
  --yellow-600: #c4a408;
  /* dark mode inverts black and white
  on elements declared with these variables */
  --white-invertible: #ffffff;
  --black-invertible: #000000;
}
/* dark mode */
html.dark-mode {
  filter: brightness(0.75);
  --indigo-500: #4b07b8;
  --indigo-600: #000000;  /* black */
  --green-500: #033d1a;
  --green-600: #011c0c;
  --red-500: #990014;
  --red-600: #7c0000;
  --blue-500: #148bdb;
  --blue-400: #259ae8;
  --blue-600: #1067a1;
  --grey-400: #a1a0a8;
  --grey-500: #505050;
  --grey-600: #000000;  /* black */
  --yellow-500: #c4a408;
  --yellow-600: #9e8508;
  --white-invertible: #000000;  /* black */
  --black-invertible: #ffffff;  /* white */
}

body {
  font-size: var(--main-font-size);
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 175%;
  background: var(--green-500);
  overflow-x: hidden;  /* bugfix - horizontal scrollbar from overflowing orbs */
}
body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
body::-webkit-scrollbar-thumb {
  background: var(--green-600);
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--blue-500);
}
body::-webkit-scrollbar-track {
  background: var(--green-500);
  box-shadow: 0 0 10px var(--green-600) inset;
}
body > * { padding: var(--main-spacing); }

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.nested-wrapper { padding: 0 var(--main-spacing); }

a {
  color: var(--blue-600);
  text-decoration: none;
}
a:hover { text-decoration: underline; }


/* ------------------------------------------------------- Reused Animations */
@keyframes bg-shift {
  0%, 100% { background-position: left; }
  50% { background-position: right; }
}


/* ---------------------------------------------------------- Custom Classes */

/* active links */
a.active { text-decoration: underline; }

.bubble-text {
  white-space: nowrap;
  border-radius: 30px;
  padding: 0.125em 0.5em;
  font-size: 0.65em;
  font-weight: bold;
  background: var(--grey-500);
  color: white;
}

/* background decoration elements */
.circle {
  position: absolute;
  border-radius: 50%;
  background: var(--blue-500);
  opacity: 0.1;
}

.leaf {
  position: fixed;
  background: var(--green-600);
  border-radius: 75% 10% 75% 0;
  opacity: 0.25;
  z-index: -1;
}
/* leaf stem */
.leaf::after {
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  height: 150%;
  width: 5%;
  background: var(--green-600);
  filter: brightness(0.7);
  transform-origin: bottom left;
  transform: translateX(-75%) rotate(45deg) translateY(-15%);
  border-radius: 30% 30% 50% 50%;
}

.orb {
  position: fixed;
  border-radius: 50%;
  background: var(--yellow-500);
  z-index: -1;
  animation-name: twinkle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes twinkle {
  0%, 50%, 100% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.square {
  position: absolute;
  border-radius: 2vmin;
  background: var(--indigo-500);
  opacity: 0.025;
}

/* Custom Buttons with Icons */

/* presets */
.btn-text {
  --main-color: var(--green-500);
  --hover-color: var(--blue-600);
  display: flex;
  align-items: center;
  font-weight: bold;
  color: var(--main-color);
  /* prevent random text selection onclick */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-text .icon {
  position: relative;
  border: 3px solid var(--main-color);
  border-radius: 3px;
  margin-right: 0.5em;
  width: 25px;
  height: 25px;
}

/* calendar */
.btn-text.date {
  font-weight: normal;
  font-size: 85%;
}
.btn-text.date .icon {
  width: 20px;
  height: 20px;
}
.btn-text.date .icon::before {
  content: '';
  position: absolute;
  top: 0; left: -1px; right: -1px;
  height: 5px;
  border-bottom: 3px solid var(--main-color);
}

/* controls - play */
.btn-text.play { cursor: pointer; }
.btn-text.play:hover { --main-color: var(--hover-color); }
.btn-text.play .icon::before {
  content: '';
  position: absolute;
  top: 5px; left: 5px; right: 5px; bottom: 5px;
  background: var(--main-color);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

/* controls - pause */
.btn-text.pause { cursor: pointer; }
.btn-text.pause:hover { --main-color: var(--hover-color); }
.btn-text.pause .icon::before {
  content: '';
  position: absolute;
  top: 5px; left: 5px; bottom: 5px;
  width: 3px;
  background: var(--main-color);
}
.btn-text.pause .icon::after {
  content: '';
  position: absolute;
  top: 5px; right: 5px; bottom: 5px;
  width: 3px;
  background: var(--main-color);
}

/* controls - stop */
.btn-text.stop:not(.disabled) { cursor: pointer; }
.btn-text.stop:not(.disabled):hover { --main-color: var(--hover-color); }
.btn-text.stop.disabled { opacity: 0.5; }
.btn-text.stop .icon::before {
  content: '';
  position: absolute;
  top: 5px; left: 5px; right: 5px; bottom: 5px;
  border-radius: 2px;
  background: var(--main-color);
}

/* edit */
.btn-text.edit:hover { --main-color: var(--hover-color); }
.btn-text.edit .icon {
  border-radius: 0;
  border-width: 0;
  width: 1em;
  height: 1em;
}
.btn-text.edit .icon::before,
.btn-text.edit .icon::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: var(--main-color);
}
.btn-text.edit .icon::before {
  clip-path: polygon(
    0 100%,
    0 80%,
    56% 24%,
    76% 44%,
    20% 100%
  );
}
.btn-text.edit .icon::after {
  clip-path: polygon(
    80% 0,
    100% 20%,
    84% 36%,
    64% 16%
  );
}

/* internet */
.btn-text.internet .icon { border-radius: 50%; }
.btn-text.internet:hover { --main-color: var(--hover-color); }
.btn-text.internet .icon::before {
  content: '';
  position: absolute;
  top: -1px; right: 25%; bottom: -1px; left: 25%;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}
.btn-text.internet .icon::after {
  content: '';
  position: absolute;
  top: 28%; right: -1px; bottom: 28%; left: -1px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

/* link */
.btn-text.link:hover { --main-color: var(--hover-color); }
.btn-text.link .icon {
  width: 20px;
  height: 20px;
}
.btn-text.link .icon::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 12px; height: 3px;
  border-radius: 3px;
  background: var(--main-color);
}
.btn-text.link .icon::after {
  content: '';
  position: absolute;
  top: 2px; right: 2px;
  width: 0; height: 0;
  border-bottom: 7.5px solid transparent;
  border-left: 7.5px solid transparent;
  border-top: 7.5px solid var(--main-color);
}


/* mail */
.btn-text.mail:hover { --main-color: var(--hover-color); }
.btn-text.mail .icon {
  overflow: hidden;
  width: 25px;
  height: 20px;
}
.btn-text.mail .icon::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 20px; height: 20px;
  border: 2px solid var(--main-color);
  clip-path: polygon(
    0 0,
    15px 0,
    15px 5px,
    20px 5px,
    20px 20px,
    0 20px
  );
}
.btn-text.mail .icon::after {
  content: '';
  position: absolute;
  bottom: 50%; left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 20px; height: 20px;
  border: 2px solid var(--main-color);
  border-radius: 3px;
}


/* Badge for Featured Projects */
.featured-badge {
  position: absolute;
  top: 0; right: 0;
  transform: translate(15%, -15%) rotate(5deg);
  width: calc(var(--main-spacing) * 2);
  height: calc(var(--main-spacing) * 2);
}

/* add ribbons */
.featured-badge::before,
.featured-badge::after {
  content: '';
  position: absolute;
  top: 50%;
  width: calc(var(--main-spacing) / 2);
  height: calc(var(--main-spacing) * 1.5);
  background: var(--red-500);
  border-width: 0 0.25em;
  border-color: var(--indigo-600);
  border-style: solid;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0% 100%);
}
.featured-badge::before {
  left: 0; transform: translateX(100%) rotate(25deg);
}
.featured-badge::after {
  right: 0; transform: translateX(-100%) rotate(-25deg);
  z-index: -1;
}
/* text */
.featured-badge span {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--main-spacing) * 2);
  height: calc(var(--main-spacing) * 2);
  font-size: calc(var(--main-spacing) * 3 / 4);
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow-500);
  box-shadow: 0.025em 0.025em 0.1em var(--grey-600);
  border-radius: 50%;
}
/* text area */
.featured-badge span::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 85%; height: 85%;
  background: var(--yellow-600);
  box-shadow: 0.025em 0.025em 0.1em var(--grey-600) inset;
  border-radius: 50%;
  z-index: -1;
}


/* Page Indicator */
.page-links-wrap {
  text-align: center;
}
.page-links {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: var(--main-spacing) auto;
  padding: 0.5em 1em;
  text-align: center;
  background: var(--green-600);
  box-shadow: 0 0 10px var(--green-600);
  border-radius: 3em;
  /* background-image: linear-gradient(
    30deg, var(--indigo-500), var(--blue-500), var(--indigo-500)
    );
  background-size: 300% 300%;
  background-position: center; */
}
.page-links > div { cursor: default; }
.page-links a {
  font-weight: bold;
  margin: 0 0.25em;
}
.page-links a:not(:hover) { color: #ffffff; }
.page-links .end-link {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 125%;
}
.page-links .end-link.prev-link { margin-right: 1em; }
.page-links .end-link.next-link { margin-left: 1em; }

.page-links span {
  color: #ffffff;
  font-weight: bold;
  cursor: default;
}
.page-links span.active {
  color: var(--yellow-500);
  margin: 0 0.25em;
}

@media (max-width: 35rem) {
  .page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    box-shadow: none;
    background: 0;
  }
  .page-links > div {
    background: var(--green-600);
    box-shadow: 0 0 10px var(--green-600);
    border-radius: 3em;
    padding: 0.5em 1em;
  }
  .page-links > div a,
  .page-links > div span.active {
    margin: 0 0.35em;
  }

  .page-links .end-link {
    width: min(7em, 100%);
    display: block;
    text-align: center;
    background: var(--green-600);
    box-shadow: 0 0 10px var(--green-600);
    padding: 0.5em 1em;
    border-radius: 3em;
  }
  .page-links .end-link.prev-link {
    margin: 0 0 0.5em 0;
  }
  .page-links .end-link.next-link {
    margin: 0.5em 0 0 0;
  }
}


/* ------------------------------------------------------------------ Loader */
#loader {
  position: fixed;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--green-500);
  color: white;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 1s opacity ease-in;
}
#loader .leaf { z-index: -1; }


/* --------------------------------------------------- Scroll Down Indicator */
#scroll-down-indicator {
  padding: inherit;  /* override body > * selector */
  cursor: pointer;
  position: fixed;
  left: calc(var(--main-spacing) / 2);
  bottom: calc(var(--main-spacing) / 2);
  width: 20px;
  height: 30px;
  border: 3px solid var(--grey-600);
  background: var(--grey-400);
  border-radius: 5px;
  z-index: 2;
  opacity: 0;
  transition: 1s opacity ease-in-out;
  animation: 1s 2s fade-in ease-in-out forwards;
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 0.75; }
}
#scroll-down-indicator.hidden {
  cursor: auto;
  opacity: 0;
  animation: none;
}
#scroll-down-indicator::after {
  position: absolute;
  bottom: 2.5px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--grey-600);
  animation: 2s 2s scroll-down-indicator ease-in-out infinite;
}
@keyframes scroll-down-indicator {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  25% {
    transform: translateX(-50%);
    opacity: 1;
  }
  50%, 75% {
    transform: translateX(-50%) translateY(-15px);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-15px);
    opacity: 0;
  }
}

/* indicator - landscape orientation */
@media (min-aspect-ratio: 1/1) {
  #scroll-down-indicator {
    width: 30px;
    height: 20px;
  }
  #scroll-down-indicator::after { bottom: 2px; }
  @keyframes scroll-down-indicator {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    25% {
      transform: translateX(-50%);
      opacity: 1;
    }
    50%, 75% {
      transform: translateX(-50%) translateY(-5px);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-5px);
      opacity: 0;
    }
  }
}


/* ------------------------------------------------------- Scroll Top Button */
#scroll-top-btn {
  padding: inherit;  /* override body > * selector */
  position: fixed;
  bottom: calc(var(--main-spacing) / 2);
  right: calc(var(--main-spacing) / 2);
  transform: scale(0.95);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
  box-shadow: 0.05em 0.05em 0.25em var(--grey-600);
  /* box-shadow: 0.05em 0.05em 0.25em var(--grey-600),
              -0.05em -0.05em 0.25em var(--grey-600) inset; */
  transition: 0.15s transform ease-in-out,
              0.25s opacity ease-in-out;
  background-image: linear-gradient(
    30deg, var(--indigo-500), var(--blue-500), var(--indigo-500)
    );
  background-size: 300% 300%;
  background-position: center;
}
#scroll-top-btn:hover { transform: scale(1); }
#scroll-top-btn.displayed {
  cursor: pointer;
  opacity: 1;
}
#scroll-top-btn::before,
#scroll-top-btn::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  width: 10%;
  height: 50%;
  border-radius: 15px;
  background: white;
  transform-origin: top;
}
#scroll-top-btn::before {
  transform: translate(-30%, -50%) rotate(30deg);
}
#scroll-top-btn::after {
  transform: translate(-70%, -50%) rotate(-30deg);
}


/* ------------------------------------------------------------------ Header */
header {
  padding-bottom: calc(var(--main-spacing) * 3 / 5);
  transform: translateY(0);
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 100;
  color: white;
  transition: 0.25s transform ease-out;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.filled {
  transform: translateY(calc(var(--main-spacing) * -2 / 5));
}
header::before {
  content: '';
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: var(--green-500);
  box-shadow: 0 0 15px var(--green-600);
  opacity: 0;
  transition: 0.25s opacity ease-out;
}
header.filled::before { opacity: 1; }

/* adjust for header.filled translateY animation*/
header.filled nav {
  transform: translateX(calc(100% + 50px)) translateY(calc(var(--main-spacing) * 2 / 5));
}
header.filled nav.active {
  transform: translateX(0) translateY(calc(var(--main-spacing) * 2 / 5));
}
header.filled #header-bg.active {
  transform: translateY(calc(var(--main-spacing) * 2 / 5));
}

header + * { padding-top: var(--header-height); }


/* Header Logo */
header span {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
  z-index: 103;
}
header span a {
  color: white;
}
header span a:hover {
  text-decoration: none;
  color: var(--yellow-500);
}


/* Header Nav */
header nav {
  position: fixed;
  top: 0; right: 0;
  border-radius: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 78px;  /* height of header */
  z-index: 102;
  transform: translateX(calc(100% + 50px));
  transition: 0.25s transform ease-out;
  background-image: linear-gradient(
    30deg, var(--indigo-500), var(--blue-500), var(--blue-500)
  );
  background-size: 300% 300%;
  background-position: center;
  padding-bottom: calc(var(--main-spacing) / 2);
}
header nav::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  transform: translateX(-100%);
  width: 100px; height: 100px;
  border-radius: 50%;
  box-shadow: 50px -50px 0 var(--blue-500);
  z-index: -1;
}
header nav.active { transform: translateX(0); }
header nav > * {
  margin-top: var(--main-spacing);
  margin-right: var(--fixed-to-side);
}
header nav a {
  color: white;
  border-radius: 0 3em 3em 0 ;
  font-size: calc(var(--main-font-size) * 1.25);
  margin-left: var(--main-spacing);
}
header nav a:last-of-type { margin-bottom: 50px; }
header nav a:hover { color: var(--yellow-500); }

/* Dark Mode Toggle */
#dark-toggle-wrap {
  margin-left: auto;
  position: relative;
  width: 4rem; height: 2rem;
}
/* custom slider */
#dark-toggle-wrap .slider {
  cursor: pointer;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: 4rem;
  background: var(--grey-400);
}
#dark-toggle-wrap .slider::after {
  content: '';
  position: absolute;
  width: 1.5rem; height: 1.5rem;
  top: 0.25rem; left: 0.25rem;
  background: var(--grey-500);
  background-image: url('../img/sun.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.25s transform ease-in-out,
              0.25s background-image ease-in-out;
}
html.dark-mode #dark-toggle-wrap .slider::after {
  transform: translateX(2rem) rotate(360deg);
  background-image: url('../img/moon.png');
}

#dark-toggle-wrap .slider::before {
  content: "Light";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 8px;
  font-weight: bold;
  color: black;
}
html.dark-mode #dark-toggle-wrap .slider::before {
  content: "Dark";
  justify-content: flex-start;
}

/* Hamburger Menu */
.nav-toggle {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 25px;
  transition: 0.25s transform ease-in-out;
  z-index: 103;
}
.nav-toggle.active {
  transform: rotate(-90deg);
}

.nav-toggle span {
  background-color: white;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.nav-toggle span:nth-child(1) {
  animation: out-top 0.5s ease-in-out;
}
.nav-toggle span:nth-child(2) {
  margin: 5px 0;
  animation: out-mid 0.5s ease-in-out;
}
.nav-toggle span:nth-child(3) {
  animation: out-btm 0.5s ease-in-out;
}

.nav-toggle.active span:nth-child(1) {
  animation: in-top 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(2) {
  animation: in-mid 0.5s ease-in-out forwards;
}
.nav-toggle.active span:nth-child(3) {
  animation: in-btm 0.5s ease-in-out forwards;
}

/* to hamburger */
@keyframes out-top {
  0% { transform: translateY(9px) rotate(-135deg); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}
@keyframes out-mid {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(0); }
}
@keyframes out-btm {
  0% { transform: translateY(-9px) rotate(-135deg); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(0) rotate(0); }
}

/* to x btn */
@keyframes in-top {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(9px) rotate(0); }
  100% { transform: translateY(9px) rotate(-135deg); }
}
@keyframes in-mid {
  50% { transform: rotate(0); }
  100% { transform: rotate(-45deg); }
}
@keyframes in-btm {
  0% { transform: translateY(0) rotate(0); }
  50% { transform: translateY(-9px) rotate(0); }
  100% { transform: translateY(-9px) rotate(-135deg); }
}

/* Header Background */
#header-bg {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100vh;
  background: var(--indigo-600);
  z-index: 101;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.25s opacity ease-out,
              0.25s transform ease-out 0.25s;
}
#header-bg.active {
  opacity: 1;
  transform: translateY(0);
  transition: 0.25s opacity ease-out 0.25s,
              0.25s transform ease-out;
}
/* make orbs (clones from <main> generation) look like stars */
#header-bg .orb {
  background: var(--grey-400);
  transform: scale(0.5);
}

/* Header Breakpoint */
@media (min-width: 1000px) {
  /* hide header-bg on large screens */
  #header-bg { display: none; }
  /* display header-bg when hovering header elements */
  /* header span:hover ~ #header-bg,
  header nav:hover ~ #header-bg {
    opacity: 1;
    transform: translateY(0);
    transition: 0.25s opacity ease-out 0.25s,
                0.25s transform ease-out;
  }
  header.filled span:hover ~ #header-bg,
  header.filled nav:hover ~ #header-bg {
    transform: translateY(calc(var(--main-spacing) * 2 / 5));
  } */

  header nav {
    border-radius: 0;
    width: 100%;
    position: relative;
    margin-right: auto;
    flex-direction: row;
    padding: 0 !important;
    padding-left: var(--main-spacing) !important;
    transform: none;
    background: 0;
  }
  header.filled nav { transform: none; }
  header nav::after { content: none; }
  header nav a {
    margin: 0 calc(var(--main-spacing) / 2);
    padding: 0;
    background: 0;
  }
  header nav a:last-of-type { margin-bottom: 0; }
  .nav-toggle { display: none; }
  #dark-toggle-wrap {
    margin-top: 0;
    margin-right: 0;
  }
}


/* ------------------------------------------------------------------ Footer */
footer {
  color: white;
  padding-top: 0;
  padding-bottom: max(var(--main-spacing), 75px);
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
footer .wrapper > div {
  display: flex;
  padding: 1em 0;
}

/* info section */
footer .info {
  align-items: center;
  justify-content: flex-start;
}
footer img.logo {
  border-radius: 50%;
  border: min(1vmin, 5px) solid var(--green-600);
  width: min(15vmin, 100px);
}
footer .info span {
  margin-left: 0.5em;
  font-size: min(4.75vw, calc(var(--main-font-size) * 1.5));
}
footer .info em {
  font-family: 'Pacifico', cursive;
  font-style: normal;
}

/* links section */
footer .links {
  border-top: 1px solid var(--grey-400);
  border-bottom: 1px solid var(--grey-400);
  justify-content: space-between;
  align-items: center;
}
footer nav a {
  color: white;
  font-weight: bold;
  font-size: min(4vw, calc(var(--main-font-size) * 1.5));
  display: block;
  width: fit-content;
  margin-bottom: 0.5em;
}
footer nav a:hover { color: var(--yellow-500); }
footer nav a:last-of-type { margin: 0; }
@media (min-aspect-ratio: 1/1) {
  footer nav a {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em;
  }
}
footer .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-icon:hover { text-decoration: none; }
footer .social-icon img {
  max-width: min(10vmin, 50px);
  margin-left: 1em;
  transform: scale(0.75);
  transition: 0.25s transform ease-in-out;
}
footer .social-icon:first-of-type img {
  margin: 0;
}
footer .social-icon img:hover {
  transform: none;
  filter: drop-shadow(0 0 5px var(--indigo-500));
}
footer a.resume {
  color: white;
  display: block;
  font-weight: bold;
}
footer a.resume:hover { color: var(--yellow-500); }

/* copyright */
footer .wrapper > span {
  margin-top: 1em;
  font-size: 80%;
}


/* ------------------------------------------------ Large Screen Breakpoint */
@media (min-width: 750px) and (min-height: 850px) {
  * {
    --header-height: 135px;
    --main-font-size: 20px;
    --main-spacing: 50px;
    --fixed-to-side: max(var(--main-spacing), calc((100vw - 1500px) / 2));
  }

  h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  header span { font-size: 24px; }
}


/* -------------------------------------------------- Prefers Reduced Motion */
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation-play-state: paused !important;
    transition: none !important;
  }
  .nav-toggle span {
    animation-direction: reverse !important;
  }
}
