h1 {
  max-width: 1500px;
  margin: 0 auto;
  color: white;
  padding-top: 1em;
  padding-bottom: calc(var(--main-spacing) / 2);
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: calc(2.5 * var(--main-font-size));
  margin-bottom: 1em;
}

article {
  margin-bottom: var(--main-spacing);
  background: var(--grey-400);
  box-shadow: 0 0 10px var(--green-600);
  border-radius: var(--border-radius);
  z-index: 1;
}
article > div { padding: var(--main-spacing); }

article figure {
  position: relative;
  line-height: normal;
}
article figure img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background: var(--grey-500);
}
article figure figcaption {
  display: block;
  color: var(--grey-500);
  font-size: 80%;
  text-align: center;
  margin-top: 0.5em;
}
/* reposition featured-badges for alternating layout */
article:nth-of-type(2n) .featured-badge {
  right: auto; left: 0;
  transform: translate(-15%, -15%) rotate(-5deg);
}

/* Title and Description Area */
article h3 { font-size: 150%; }
article h3,
article h3 a:not(:hover) { color: var(--green-500); }
article .details em {
  color: var(--grey-500);
  font-size: 90%;
  font-style: normal;
}
article .details p {
  margin: 1em 0 2em 0;
  color: var(--grey-600);
  font-size: 90%;
  line-height: 175%
}

.btn-text { width: fit-content; }
.btn-text:not(:last-of-type) { margin-bottom: 0.5em; }


@media (min-aspect-ratio: 1/1) {
  article {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--main-spacing);
  }
  article:nth-of-type(2n) { flex-direction: row; }

  article > * { width: 100%; }

  article > div { padding: 0 var(--main-spacing) 0 0; }
  article:nth-of-type(2n) > div { padding: 0 0 0 var(--main-spacing); }

  article figure img {
    border: max(5px, 1vmin) solid var(--grey-500);
    border-radius: var(--border-radius);
  }


  .btn-text {
    display: inline-flex;
    margin: 0;
    margin-right: 1em;
  }
}
