h1 {
  max-width: 1500px;
  margin: 0 auto;
  color: white;
  padding-top: 1em;
  padding-bottom: calc(var(--main-spacing) / 2);
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: calc(2.5 * var(--main-font-size));
  margin-bottom: 1em;
}
