/* Debugging --------------------------------------------------------------- */
/* Border All Elements */
/* * { box-shadow: 0 0 1px 1px #ff0022 inset; } */
body {
  /* Background Grid */
  /* background-image:
    linear-gradient(
      var(--green-600) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      var(--green-600) 1px,
      transparent 1px
    );
    background-size: 0.25in 0.25in; */
}

*, *::before, *::after { animation-play-state: paused; transition: none; }
/* override main.css */
html, body {
  width: 4in;
  max-width: 4in;
}
.bg-wrap {
  overflow: hidden;
  padding: 0.25in;
  max-width: 4in;
  box-shadow: 0 0 1px 1px black;
}
section {
  position: relative;
  aspect-ratio: 3.5/2;
  width: 3.5in;
  max-height: 2in;
  color: white;
}
@keyframes twinkle {
  0%, 50%, 100% {
    opacity: 0.05;
    transform: scale(0.5);
  }
  25% {
    opacity: 0.5;
    transform: scale(1);
  }
}
/* custom presets */
html {
  font-family: Calibri, sans-serif;
  font-size: 16px;
}


/* Toggle Buttons */
#flip-card {
  display: inline-block;
  margin: 0.5em;
  padding: 0.25em;
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  /* invert colors from page background */
  mix-blend-mode: difference;
}

.buttons {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* invert colors from page background */
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
}
.buttons button {
  all: unset;
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0.5em;
  background: white;
  border-radius: 3em;
}

.buttons button.bg-toggle {
  font-weight: bold;
  border: 0.25em solid rgb(0, 255, 255);
}

/* Front Stuff ------------------------------------------------------------- */
#front {
  /* overflow: hidden;
  border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headings {
  /* border: 1px solid blue; */
  max-width: 2.25in;
  text-align: center;
  line-height: 0.45in;
}
h1 {
  font-size: 0.4in;
  font-weight: normal;
  font-family: 'Pacifico', cursive;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px var(--green-600);
}
h2 {
  font-size: 0.2125in;
}

#main-logo-wrap {
  position: absolute;
  right: 0;
  top: 1in;
  transform: translate(67%, -50%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125in solid var(--green-600);
  background: var(--green-600);
}
#main-logo {
  width: 3.25in;
  height: 3.25in;
}
.main-logo-overlay {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 3.25in;
  height: 3.25in;
  border-radius: 50%;
  background: var(--blue-500);
  box-shadow: 0 0 0.15in 0.05in var(--green-600) inset;
  opacity: 0.55;
}


/* Back Stuff -------------------------------------------------------------- */
body.no-bg { background: var(--grey-400); }
body.no-bg .icon-text {
  --main-color: var(--green-600);
  --bg-color: var(--grey-400);
}

#back { overflow: hidden; }

.links {
  min-width: 2.25in;
  margin: 0.125in;
}

/* text with custom icons */
.icon-text {
  --main-color: white;
  --bg-color: var(--green-500);
  color: var(--main-color);
  display: flex;
  align-items: center;
  line-height: 0.25in;
}
.icon-text:first-of-type { margin-top: 0.125in; }
.icon-text:not(:last-of-type) {
  margin-bottom: 0.125in;
}

.icon-text .icon {
  position: relative;
  width: 0.2in;
  height: 0.2in;
  margin: 0.025in;
  margin-right: 0.075in;
  border: 2px solid var(--main-color);
}

/* Phone Icon */
.icon.phone {
  width: 0.15in;
  margin-left: 0.05in;
  margin-right: 0.1in;
  border-radius: 3px;
}
.icon.phone::before {
  content: '';
  position: absolute;
  bottom: 0.015in; left: 50%;
  transform: translateX(-50%);
  width: 0.025in; height: 0.025in;
  border-radius: 50%;
  background: var(--main-color);
}

/* Email Icon */
.icon.email {
  height: 0.165in;
  border-radius: 3px;
  overflow: hidden;
}
.icon.email::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 0.155in; height: 0.155in;
  border: 2px solid var(--main-color);
}
.icon.email::after {
  content: '';
  position: absolute;
  bottom: 50%; left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 0.155in; height: 0.155in;
  border: 2px solid var(--main-color);
  border-radius: 3px;
  background: var(--bg-color);
}

/* Portfolio Icon */
.icon.portfolio {
  border-radius: 50%;
}
.icon.portfolio::before {
  content: '';
  position: absolute;
  top: -1px; right: 25%; bottom: -1px; left: 25%;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}
.icon.portfolio::after {
  content: '';
  position: absolute;
  top: 27%; right: -1px; bottom: 27%; left: -1px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}


/* Git Icon */
.icon.git {
  border-radius: 3px;
}
.icon.git::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 0.025in;
  background: var(--main-color);
  border-radius: 3px;
}
.icon.git::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 0.075in; height: 0.075in;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 50%;
}

.icon.linked-in {
  border-radius: 3px;
}
.icon.linked-in::before {
  content: "in";
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 0.2in; height: 0.2in;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.175in;
  color: var(--main-color);
}

/* Location Icon */
.icon.location {
  border-radius: 50% 50% 50% 0;
  transform: translateY(-0.02in) rotate(-45deg) scale(0.85);
  border-width: 2.35px;  /* adjust for 0.85 scale down */
}
.icon.location::before {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 0.075in; height: 0.075in;
  background: var(--main-color);
  border-radius: 50%;
  z-index: 1;
}



/* ------------------------------------------------------------------ Autumn */
/* front */
html.autumn body { background: #e69722; }
html.autumn .leaf:nth-of-type(1n) { background: var(--red-500)); }
html.autumn .leaf:nth-of-type(1n)::after { background: var(--red-500)); }
html.autumn .leaf:nth-of-type(2n) { background: #8c580b; }
html.autumn .leaf:nth-of-type(2n)::after { background: #8c580b; }
html.autumn #main-logo-wrap {
  border-color: #8c580b;
  background: #8c580b;
}
html.autumn .main-logo-overlay { box-shadow: 0 0 0.15in 0.05in #8c580b inset; }
/* back */
html.autumn .icon-text {
  --main-color: #8c580b;
  --bg-color: #e69722;
}
html.autumn body.no-bg { background: var(--grey-400); }
html.autumn body.no-bg .icon-text {
  --main-color: #8c580b;
  --bg-color: var(--grey-400);
}

/* ------------------------------------------------------------------ Winter */
/* front */
html.winter body { background: white; }
html.winter h1 {
  color: var(--grey-500);
  text-shadow: 2px 2px 2px var(--grey-600);
}
html.winter h2 { color: var(--grey-500); }
html.winter .leaf { background: var(--blue-400); }
html.winter .leaf::after { background: var(--blue-400); }
html.winter .orb { background: var(--blue-600); }
html.winter #main-logo-wrap {
  border-color: var(--grey-600);
  background: var(--grey-600);
}
html.winter .main-logo-overlay { box-shadow: 0 0 0.15in 0.05in var(--grey-600) inset; }
/* back */
html.winter .icon-text {
  --main-color: var(--grey-600);
  --bg-color: white;
}
html.winter body.no-bg { background: var(--grey-400); }
html.winter body.no-bg .icon-text {
  --main-color: var(--grey-600);
  --bg-color: var(--grey-400);
}
