<footer>

  <div class="info">
    <img class="logo" src="/img/profile.jpg" alt="Profile Image"/>
    <span><em>Tyler Wittig</em> | Web Developer</span>
  </div>

  <div class="links">

    <nav>
      <a href="/">Home</a>
      <a href="/projects/">Projects</a>
      <a href="/admin-dashboard/">Admin</a>
    </nav>

    <div class="socials">
      <div>
        <a class="social-icon" href="https://github.com/twit96" target="_blank" rel="noreferrer">
          <img src="/img/logo_github.png" alt="github logo" />
        </a>
        <a class="social-icon" href="https://www.linkedin.com/in/tylerwittig/" target="_blank" rel="noreferrer">
          <img src="/img/logo_linkedin.png" alt="linkedin logo" />
        </a>
        <a class="social-icon" href="https://twitter.com/tyler_wittig" target="_blank" rel="noreferrer">
          <img src="/img/logo_twitter.png" alt="twitter logo" />
        </a>
      </div>
      <a class="resume" href="/20211001-résumé-tylerwittig.pdf" alt="Resume">
        Download my Résumé
      </a>
    </div>

  </div>  <!-- ./links -->

  <span>&copy; 2021 Tyler Wittig</span>
</footer>
