<div id="loader"></div>

<label id="dark-toggle-wrap" for="dark-toggle">
  <span class="hidden-text">Dark Mode Toggle</span>
  <input id="dark-toggle" type="checkbox">
  <span class="slider"></span>
</label>

<header>
  <span>
    <a href="/">TW</a>
  </span>
  <nav>
    <a href="/">Home</a>
    <a href="/projects/">Projects</a>
    <a class="resume" href="/20211003-résumé-tylerwittig.pdf">
      Résumé
    </a>
  </nav>
  <div class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="header-bg"></div>
</header>
